#promotewindow.span3(style='text-align:center')
        form#promoteform(action='/spread', method='post', accept-charset='utf-8')
                textarea#promotetext.wysiwygtxt(cols='60', rows='10', placeholder='Escreva o seu texto ou comentário aqui.')
.tutor.span3
        | Aqui você espalha o texto ou comentário sobre o conteúdo do Efforia que quiser. Além de aparecer nas principais páginas da rede, a postagem também é publicada em Facebook e Twitter, ao mesmo tempo.
