#promotewindow.span3(style='text-align:center')
        h2(style='color:white') O valor por ingresso desse evento é de R$ #{value},00
        .eventvalue.hidden #{value}
        form#promoteform(action='efforia/basket', method='post', accept-charset='utf-8')
            input.span3#promotecredit(name='quantity', maxlength='100', placeholder='Quantos ingressos você quer comprar?',type='text')
.tutor.span3
        | A partir desta ferramenta, você pode apoiar este projeto por meio de pagamentos online. O pagamento é feito da forma que você quiser: por PayPal, boleto, cartão, enfim, existem inúmeras opções para que você não fique de fora!
