head
    script(type='text/javascript', src='static/js/promoteapp.js')
    script(type='text/javascript', src='static/js/promoteevents.js')
body
    .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel Evento
    .modal-body(style='background-color: #00A946;')
            .spreadcontent
              h2
                #{title} em #{location}
              img(src='http://maps.googleapis.com/maps/api/staticmap?center=#{location}&zoom=15&size=640x400&maptype=roadmap&sensor=false')
            .id(style='display:none;') #{eventid}
            .token(style='display:none;') @!
    .modal-footer
            button.btn.btn-danger.deletable Remover
            button.btn.btn-primary.send.spread Espalhar
