form#evento(action='promote/calendar', method='post', accept-charset='utf-8')
        input#id_name.span5(name='name', maxlength='50', placeholder='Qual será o nome do seu evento?',type='text')
        textarea.span5(rows='4',name='description', placeholder='Escreva um pouco sobre o evento que você está promovendo.',type='text')
        input.datepicker.span5(name='deadline', type='text', placeholder='Quando ele vai acontecer?')
        input#id_location.span5(name='location', maxlength='100', placeholder='Onde ele vai ser realizado?',type='text')
        .span5.controls-row
            input.span3(name='min', maxlength='100', placeholder='Número mínimo de participantes?',type='text')
            input.span2(name='max', maxlength='100', placeholder='Número máximo?',type='text')
        .span5.input-prepend.input-append
            span.add-on(style='width:5%; color:black') R$
            input(style='width:82%',name='value', maxlength='100', placeholder='Quanto que vai custar para participar?',type='text')
            span.add-on(style='width:5%; color:black') ,00
.tutor.span5
        | Eventos como shows, apresentações, lançamentos podem ser criados por aqui. Eles são propagados por todo o Efforia e nos eventos do Facebook
