.span5
        form#evento(action='promote/calendar', method='post', accept-charset='utf-8')
                input#id_name.span5(name='name', maxlength='50', placeholder='Qual será o nome do seu evento?', type='text')
                input#id_start_time.datepicker.span5(name='start_time', placeholder='Quando que vai iniciar?', type='text')
                input#id_end_time.datepicker.span5(name='end_time', type='text', placeholder='Quando que vai terminar?')
                input#id_location.span5(name='location', maxlength='100', placeholder='Onde ele vai ser realizado?', type='text')
.tutor.span5
        | Eventos como shows, apresentações, lançamentos podem ser criados por aqui. Eles são propagados por todo o Efforia e nos eventos do Facebook
