.span5
       if keys
         h2 #{quantity} Interesses
         .span5(style='margin-bottom:25px;')
           each k in keys
             .span1.keyword #{k}
         input#movement_title.span5(type='text', name='title', placeholder='Que nome iremos dar ao movimento?')
       else
         img(src='static/img/movement.png')
         h2 Sem movimentos ou interesses no momento.
.tutor.span5
       | Movimentos são uma forma fácil de acompanhar todos os projetos do Efforia em que você apoia. Para utilizar, basta selecionar o interesse para agrupá-los num movimento.'
