#promotewindow.span3(style='text-align:center')
        form#promoteform(action='promote/promote', method='post', accept-charset='utf-8')
                label.span1 Créditos
                input#promotecredit.span2(type='number')
.tutor.span3
        | A partir desta ferramenta, você pode apoiar este projeto por meio de créditos do Efforia, que são facilmente compráveis via online.
