#promotewindow.span3(style='text-align:center')
        h2(style='color:white') Faltam R$ #{value},00 para o projeto acontecer
        form#promoteform(action='efforia/basket', method='post', accept-charset='utf-8')
            .span3.input-prepend.input-append(style='margin-bottom:30px; margin-left:0px')
                span.add-on(style='width:5%; color:black') R$
                input#promotecredit(style='width:82%',name='credit', maxlength='100', placeholder='Quanto você pretende investir?',type='text')
                span.add-on(style='width:5%; color:black') ,00
.tutor.span3
        | A partir desta ferramenta, você pode apoiar este projeto por meio de pagamentos online. O pagamento é feito da forma que você quiser: por PayPal, boleto, cartão, enfim, existem inúmeras opções para que você não fique de fora!
