form#project(action='promote/causes', method='post', accept-charset='utf-8', enctype='multipart/form-data')
        input.span5(type='text', name='title', placeholder='Que nome iremos dar ao projeto?')
        input.span5.datepicker(name='deadline', type='text', placeholder='Até quando estaremos arrecadando dinheiro?')
        input.span5.causecredits(name='credit',type='text',placeholder='Quanto você pretende arrecadar?')
        input.span5(type='text',name='keyword',placeholder='Uma palavra-chave sobre teu interesse nesse projeto.')
        textarea.span5.wysiwygtxt(rows='4',name='content',placeholder='Descreva o que você pretende atingir neste projeto.')
div(style='display:none;')
        input(style='opacity: 0;', name='file', type='file')
.tutor(style='margin-top: 10px;')
        | Projetos são ações movidas pelos usuários para levantar recursos para um determinado projeto de filme, música ou até mesmo álbum.
