form#project(action='promote/causes', method='post', accept-charset='utf-8', enctype='multipart/form-data')
        input.span5(type='text',style='margin-bottom:5px',name='title', placeholder='Que nome iremos dar ao projeto?')
        input.span5(type='text',style='margin-bottom:5px',name='keyword',placeholder='Uma palavra-chave sobre teu interesse nesse projeto.')
        .span5.input-prepend
            span.add-on(style='width:5%; color:black')
                i.icon-calendar
            input.datepicker(style='width:89.5%;',name='deadline', type='text', placeholder='Até quando estaremos arrecadando dinheiro?')
        .span5.input-prepend.input-append
            span.add-on(style='width:5%; color:black') R$
            input(style='width:82%',name='credit', maxlength='100', placeholder='Quanto você pretende arrecadar?',type='text')
            span.add-on(style='width:5%; color:black') ,00
        textarea.span5.wysiwygtxt(rows='4',name='content',placeholder='Descreva o que você pretende atingir neste projeto.')
div(style='display:none;')
        input(style='opacity: 0;', name='file', type='file')
.tutor(style='margin-top: 10px;')
        | Projetos são ações movidas pelos usuários para levantar recursos para um determinado projeto de filme, música ou até mesmo álbum.
