{% extends "base.html" %}
{% title %}Entrar{% %}
{% block content %}
<div id="centralizado"><div id="conteudoCentral">
<h2>Entrar no Efforia</h2>

{% if form.errors %}
<p>O usuário e senha não correspondem. Novo no Efforia? Clique <a href="/register">aqui</a></p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
	{{ form.username.label_tag }}
	{{ form.username }}
	{{ form.password.label_tag }}
	{{ form.password }}
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div></div>
{% endblock %}
