{% include "../../templates/basic.html" %}
<title>{% block title %}Entrar{% end %}</title>
{% block content %}
<div id="conteudoLEsquerda">
<img src="images/efforia-enter.png" width="457" height="163"/>
</div>
<div id="conteudoLDireita">
<h2>Entrar no Efforia</h2>
<form method="post" action="/login"> {{ form.as_p() }}
<div id="botoes">
<input class="ui-button ui-widget ui-state-default ui-corner-all" type="submit" value="Entrar">
</div>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% end %}
