form#control(action='appearance')
        label.span2.divider Interface
        .btn-group.span3.divider.interface(data-toggle='buttons-radio')
                if interface == 1
                        button.span1.btn.change.active(value='1') Classic
                        button.span2.btn.change(value='0') Spin
                else
                        button.span1.btn.change(value='1') Classic
                        button.span2.btn.change.active(value='0') Spin
        label.span2.divider Editor
        .btn-group.span3.divider.typeditor(data-toggle='buttons-radio')
                if typeditor == 1
                        button.span1.btn.change.active(value='1') Simples
                        button.span2.btn.change(value='0') Avançado
                else
                        button.span1.btn.change(value='1') Simples
                        button.span2.btn.change.active(value='0') Avançado
//        label.span2.divider Língua
//        .btn-group.span3.divider.language(data-toggle='buttons-radio')
//                if language == 0
//                        button.span1.btn.change.active(value='0') Português
//                        button.span2.btn.change(value='1') Español
//                else
//                        button.span1.btn.change(value='0') Português
//                        button.span2.btn.change.active(value='1') Español
//        label.span2.divider Monetização
//        .btn-group.span3.divider.monetize(data-toggle='buttons-radio')
//                if monetize == 1
//                        button.span1.btn.change.active(value='1') Ativada
//                        button.span2.btn.change(value='0') Desativada
//                else
//                        button.span1.btn.change(value='1') Ativada
//                        button.span2.btn.change.active(value='0') Desativada
//        label.span2.divider Audiodescrição
//        .btn-group.span3.divider.monetize(data-toggle='buttons-radio')
//                if monetize == 1
//                        button.span1.btn.change.active(value='1') Ativada
//                        button.span2.btn.change(value='0') Desativada
//                else
//                        button.span1.btn.change(value='1') Ativada
//                        button.span2.btn.change.active(value='0') Desativada
