form#place(action='place')
        if exists == 1
                label.span2 País
                input.span3(type='text',placeholder='#{user.place.country}',name='country')
                label.span2 Cidade
                input.span3(type='text',placeholder='#{user.place.city}',name='city')
                label.span2 Código Postal
                input.span3(type='text',placeholder='#{user.place.code}',name='code')
        else 
                label.span2 País
                input.span3(type='text',placeholder='Nomeie o país onde mora.',name='country')
                label.span2 Cidade
                input.span3(type='text',placeholder='Coloque o nome de sua cidade.',name='city')
                label.span2 Código Postal
                input.span3(type='text',placeholder='Indique o seu código postal aqui.',name='code')
.span5.tutor
  | Aqui ficam armazenados as informações adicionais sobre a sua localidade. Nós precisamos destes dados para poder efetuar o envio ou recebimento dos produtos comercializados na rede Efforia.
