

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
     font-family: "Roboto";
   }

   h1,h2,h3 {
     font-family: "Roboto";
     font-weight: bold;
   }

   li a,h1,h2 {
     font-family: "Roboto";
     text-transform: uppercase;
     font-weight: bold;
   }

   nav a {
     color: #FFFFFF;
   }

   .rounded {
     border-radius:10px;
   }

   .centered {
     text-align:center;
   }

   .bar {
     padding: 20px;
     border-radius: 10px;
   }

   .white {
     color: #FFFFFF;
   }

   .navbar-green {
     background-color: #67B765;
     border-color: #4A7F47;
   }

   .navbar-brand {
     padding: 10px;
     font-size: 1.5em;
   }

   .navbar-brand img {
     display:inline;
     height:1.5em;
     align:middle;
   }

   .navbar-toggle {
     border-color: #FFFFFF;
   }

   .navbar-toggle .icon-bar {
     background: #FFFFFF;
   }
