/* Folha de estilos do Efforia */

body { margin:0; padding:0; color:white; background: url('../img/tile.png'); font-family: Lucida Sans,ubuntu,Arial; }
table { color:black; }
button,a,a:hover { outline:none; text-decoration:none; color:black; }
h1 { font-size: 1.8em; text-align:center; color:black; }
h2 { font-size: 1.4em; text-align:center; color:black; }
h3 { font-size: 1.0em; color:black; }
li { display:inline; }
select,input,textarea { font-family: Lucida Sans,ubuntu; width:95%; resize:none; }
progress::-webkit-progress-bar { background: red; }
progress::-webkit-progress-value { background: white; }
progress[aria-valuenow]:before { background: white; }

/* Força a estilização do input, mesmo readonly. */
input[readonly] {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.btn,.btn:hover { font-family: Lucida Sans, ubuntu; width:auto; resize:none; }
.details { height:70%; padding:2%; }
.tutor { text-align:justify; color:white; }
.date { text-align:center; color:white; margin:5px; }

.FixoCentral { 
	position:fixed; text-align:center;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;	
	transition:all 1.0s ease-in-out; 
}

#Container{
	height:400px;
	padding:5px;
}

#Grade{
	margin-top:45px;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;	
	transition:all 1.0s ease-in-out;
}

#Rodape.FixoCentral{
	width:100%;
	bottom:0px;
}

#Abas{
	background:white;
	border-radius:50px;
}

#Canvas.FixoCentral { 
	width:100%; top:40px; z-index:2;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;	
	transition:all 1.0s ease-in-out;
}

#Navegacao { position:fixed; }

#Central{
	position:fixed;
	height:90%; 
	margin-top:40px;
	margin-bottom:5%; 
	width:100%; text-align:center;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;	
	transition:all 1.0s ease-in-out; 
}

#efforia{
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;	
	transition:all 1.0s ease-in-out; 
}

#selectupload:hover,#upload:hover { -moz-box-shadow:inset 0px 0px 10px #111; -webkit-box-shadow:inset 0px 0px 10px #111; background:#333; border 10px solid #111; border-radius:5px; }
#etiquetas { text-align:right; margin-right:5%; }
#overlay {
	position:absolute; 
	width:auto;
	height:auto; 
	z-index:1; 
	text-align:center; 
	opacity:1; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)"; 
	filter:alpha(opacity=00); 
	background:url(../images/bg-black.png); 
}

/* Estilizacao para o grid/mosaico do Efforia */

.block,.block-transparent {
	margin-top:5px;
	margin-left:0px;
	overflow:hidden;
	text-decoration:none;
	border-radius:10px;
}