label.span2.divider Interface
.btn-group.span3.divider(data-toggle='buttons-radio')
        button.btn Classic
        button.btn Spin
label.span2.divider Editor
.btn-group.span3.divider(data-toggle='buttons-radio')
        button.btn Simples
        button.btn Avançado
label.span2.divider Língua
.btn-group.span3.divider(data-toggle='buttons-radio')
        button.btn Português
        button.btn Español
label.span2.divider Monetização
.btn-group.span3.divider(data-toggle='buttons-radio')
        button.btn Ativada
        button.btn Desativada
