.modal-header
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
  h3#myModalLabel Configurações
.modal-body(style='background-color: #F9A600;')
  .btn-group(data-toggle='buttons-radio', style='text-align: center;')
    button.btn.option.active(href='profile',next='procfg') Perfil
    button.btn.option(href='photo',next='imgcfg') Imagem
    // Interface classic/spin editor de texto e línguas
    button.btn.option(href='appearance',next='controlcfg') Aparência
    button.btn.option(href='payment',next='placecfg') Financeiro
    button.btn.option(href='integrations',next='socialcfg') Redes Sociais
  .form(style='margin-top: 10px;')
.modal-footer
  button.btn(data-dismiss='modal', aria-hidden='true') Cancelar
  button.btn.btn-primary.send.procfg(data-loading-text='Salvando...') Salvar
