button.btn.btn-black.integration(href='twitter')
        img(width="128",src="#{static_url}img/twitter.png")
button.btn.btn-black.integration(href='facebook')
        img(width="128",src="#{static_url}img/facebook.png")
button.btn.btn-black.integration(href='google')
        img(width="128",src="#{static_url}img/youtube.png")
