button.btn.btn-black.integration(href='http://social.efforia.com.br/twitter')
        img(width="128",src="#{static_url}img/twitter.png")
button.btn.btn-black.integration(href='http://social.efforia.com.br/facebook')
        img(width="128",src="#{static_url}img/facebook.png")
button.btn.btn-black.integration(href='http://social.efforia.com.br/google')
        img(width="128",src="#{static_url}img/youtube.png")
