form#image(style='text-align: center;', action='photo', method='post', accept-charset='utf-8', enctype='multipart/form-data')
        img.upload#upload(src='#{ static_url }img/upload.png')
        input.file(style='opacity: 0;',name='file',type='file')