.dropdown-toggle { background:transparent !important; }

.caret { display:none; }

.menu {
  background:#F8F8F8;
  box-shadow:none;
  border:none;
}

.menu a, .menuitem a {
  text-align:center;
  color:#000000 !important;
  font-size:1.2em
}

.nav-default {
  float:none;
  margin: 0 auto;
  display:table;
  table-layout:fixed;
}
