html,body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body { font-family:Ubuntu; padding:0px; }
h1,h2,h3,h4,h5,h6,ul.nav { font-family: Ubuntu; font-weight:lighter; }
a,a:hover,a:active,a:focus { text-decoration:none !important; }

.facebook,.facebook:hover { text-align:left; background:#3C5A98; text-shadow:none; }
.twitter,.twitter:hover { text-align:left; background:#00ACED; text-shadow:none; }
.youtube,.youtube:hover { text-align:left; background:#FF1F20; text-shadow:none; }
.foursquare,.foursquare:hover { text-align:left; background:#0072B1; text-shadow:none; }
.github,.github:hover { text-align:left; background:white; text-shadow:none; }

.divider { margin:5px; }
.hidden { display:none; }
.centered { text-align:center; }
.input_id_card_pay_option_0 { display:none; }
.turquoise { color:turquoise; }
.pink { color: pink; }
.gold { color: lightgreen; }
.centered { text-align:center; }
.bar { background:white; }
.bordered { border: 1px solid white; }
.navbar-padding { padding:15px; }
.nomargin { margin:0px; }
.content { min-height:200px; }
.info { font-weight:normal !important; }

.fixed-navbar {
	border:0px;
	border-radius:0px;
	padding:0px;
	margin-bottom:0px;
}

.jumbotron {
	text-align:center;
	color:white;
	padding:0em;
  min-height:450px;
  transition: 0.1s ease-in-out;
}

.nebula-cover {
  background-color:white;
  color:black;
}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}


.none {
    border:none;
    box-shadow:none;
}

.footer-nav {
    background:#000;
    color:white;
    min-height:28px;
    max-height:28px;
}

.navbar-flag {
    height:2em;
    margin:27px;
}

.navbar-cart {
    height:3em;
    margin:18px;
    margin-left:15px;
    margin-right:15px;
    text-align:center;
}
