.jumbo-paragraph {
  font-size:1.3em;
  line-height:1.5em
}

.jumbo-img { height:9em; }

.jumbo-heading { font-size:3em; }

.jumbo-p {
  font-size:1.4em;
  line-height:1.4em;
  width:80%;
  margin:auto;
}

.jumbotron {
  margin-bottom:0px;
}
