.flag {
  cursor:pointer;
  height:30px;
}

.block {
  height:600px;
  padding:20px;
  border-radius:15px;
}

.footer {
  background-color:#222222;
  margin-top:0;
  font-size: 1.2em;
  border-top:0;
  font-weight: regular;
  padding:0px;
}

.overlay {
  position: relative;
  min-height: inherit;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.box {
  border:1px solid #000000;
  border-radius:15px;
}

.account {
  background-color: #FFFFFF !important;
  border: 1px solid #CCCCCC !important;
  /* box-shadow: 1px 1px 10px #FFFFFF !important; */
}

.payments-md {
  width:96%;
  margin:0% 2%;
}

.payments-sm {
  width:90%;
  margin:1% 5%;
}

.payments-xs {
  width:90%;
  margin:5%;
}

.submenu-top {
  position:absolute;
  top:84px;
  left:0px;
  background:rgba(255, 255, 255, 0.7);
  padding:10px;
  width:100%;
}

.submenu {
  position:absolute;
  top:387px;
  left:0px;
  background:rgba(255, 255, 255, 0.7);
  padding:10px;
  width:100%;
}

.subnavbar,.subnavbar-top {
  position:static;
}

.submenu > li > a,
.submenu-top > li > a {
  color:black;
}

.submenu-inverse {
  background:rgba(0,0,0,0.7);
}

.submenu-inverse > li > a {
  color:white;
}

.submenu-inverse > li > a:hover {
  color:black !important;
}

.spaces-lg {
  margin-top:140px;
  margin-bottom:140px;
}

.spaces-md {
  margin-top:70px;
  margin-bottom:70px;
}

.spaces-sm {
  margin-top:35px;
  margin-bottom:35px;
}

.spaces-xs {
  margin-top:18px;
  margin-bottom:18px;
}

.navicon { height:18px; }
.flagicon { height:47px; }

.nomargin,
.nomargin p,
.nomargin h1,
.nomargin h2,
.nomargin h3 { margin:0px !important; }

.nopadding { padding:0px !important;}

.inline { display:inline; }
.flex { display:flex; }

.photo-lg {
  height:500px !important;
  margin:0 auto;
}

.photo-md {
  height:400px !important;
  margin:0 auto;
}

.photo-sm {
  height:300px !important;
  margin:0 auto;
}

.photo-xs {
  height:200px !important;
  margin:0 auto;
}

.highlight {
  margin-top:50px;
  line-height:1.5em;
  text-align:center;
}

.full-width { width:100% }
.third-width { width:70%; margin-left:15% }
.half-width { width:50%; }

.whatsapp { background:#6EC497; }
.skype { background:#3398CC; }
.telephone { background:#F79838; }
.email { background: #FFCD09; }

.call-icon {
  padding: 15px;
  border-radius: 5px;
  height:75px !important;
  width:75px !important;
}

/* Bootstrap Overriding CSS rules and others oneliners */

.block-padding { padding:10px !important; }

.subnav-size { height:43px !important; }

.right { float:right !important; }
.left { float:left !important; }
.leftmargin { margin-left:15px !important; }
.rightmargin { margin-right:15px !important; }
.right li { float:right; }
.lalign { text-align:left !important; }
.ralign { text-align:right !important; }

.black { color:#000000 !important; }
.black:hover { color:#000000 !important; }
.transparent-black { background: rgba(0,0,0,0.5); }

.white { color:#FFFFFF !important; }
.white:hover { color:#FFFFFF !important; }
.transparent-white { background: rgba(255,255,255,0.5); }

.blackbg { background-color:#000000; }
.whitebg { background-color:#FFFFFF; }
.purplebg { background-color:#996699; }
.yellowbg { background-color:#FFCD09; }
.orangebg { background-color:#F79838; }
.greenbg { background-color:#6EC497; }
.bluebg { background-color:#3398CC; }
.redbg { background-color:#EE3967; }

.navbar-toggle {
  margin: 20px 15px;
  float: left;
  padding: 14px 12px;
  border-radius: 6px;
  background: #FFFFFF;
}

.icon-bar { background-color: #000000 !important; }

.navbar-brand-center {
  padding:17px;
  float:none !important;
  position:absolute;
  text-align:center;
  height:100%;
  width:40%;
  left:30%;
}

.navbar-img {
  height:50px;
  display:inline !important;
}

.navbar-select {
  height:100% !important;
  padding:17px !important;
}

.navbar-corner-left {
  margin:20px 15px;
  float:left;
}

.navbar-corner-right {
  margin:20px 15px;
  float:right;
}

.img-margin {
  margin:10px 0px;
}
