form#passwordform(action='password', method='post', enctype='multipart/form-data', accept-charset='utf-8')
    label.span2 Senha antiga
    input#id_old_password.span3(name='old_password', type='password')
    label.span2 Nova senha
    input#id_new_password1.span3(name='new_password1', type='password')
    label.span2 Confirmação
    input#id_new_password2.span3(name='new_password2', type='password')
