html,body
{
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
  background:#222222;
	font-family:Roboto;
  font-weight:lighter;
}
h1,h2,h3,h4,h5,h6,ul.nav { font-family: Roboto; font-weight:bold; text-transform:uppercase; }
a,a:hover,a:active,a:focus { text-decoration:none !important; }
.footer { font-family: Roboto; font-size:1.5em;}

.facebook,.facebook:hover { text-align:left; background:#3C5A98; text-shadow:none; }
.twitter,.twitter:hover { text-align:left; background:#00ACED; text-shadow:none; }
.youtube,.youtube:hover { text-align:left; background:#FF1F20; text-shadow:none; }
.foursquare,.foursquare:hover { text-align:left; background:#0072B1; text-shadow:none; }
.github,.github:hover { text-align:left; background:white; text-shadow:none; }

.divider { margin:5px; }
.inline { display:inline; color:white; }
.hidden { display:none; }
.centered { text-align:center; }
.footer { background-color:#222222; color:#969696; margin-top:0; font-size: 1em; border-top:0; }

.input_id_card_pay_option_0 { display:none; }
.fixed-navbar {
	border:0px;
	border-radius:0px;
	padding:0px;
	margin-bottom:0px;
}

.jumbotron {
  height: 100%;
  margin: 0;
  display: flex;
  color: white !important;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  align-items: center;
}

.overlay {
  color:white !important;
  background:rgba(0,0,0,0.75);
}

.full { background-size: cover; }

.whitespace {
  background: white;
  color: black !important;
}

.navbar-center {
  float:none;
  margin: 0 auto;
  display:table;
  table-layout:fixed;
}

.navbar-nav li { font-size:1.5em; }
.navbar-nav li a { color: white !important; }
