{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %} {% endblock %}
{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 centered">
      <h1>Hora Técnica</h1>
      <p>A Fábrica de Ideias Hub dispõe de especialistas para resolver o seu problema
      no menor tempo possível. Trabalhamos em uma tabela única de hora técnica para resolver
      a sua demanda, seja jurídica, informática, contábil ou administrativa.</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Quantidade de horas</td>
            <td>Coworker da Fábrica</td>
            <td>Público Externo</td>
          </tr>
          <tr>
            <td>Meia hora</td>
            <td>R$ 25,00</td>
            <td>R$ 30,00</td>
          </tr>
          <tr>
            <td>1h</td>
            <td>R$ 35,00</td>
            <td>R$ 40,00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-6 centered">
      <h1>Vídeo Institucional</h1>
      <p>Com especialistas na área de comunicação, é possível, a um custo acessível,
      a produção de um vídeo institucional para a sua empresa, para ajudar a alavancar
      suas vendas e aprimorar a imagem do seu negócio.</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Segundos</td>
            <td>Coworker da Fábrica</td>
            <td>Público Externo</td>
          </tr>
          <tr>
            <td>30s (Meio minuto)</td>
            <td>R$ 175,00</td>
            <td>R$ 200,00</td>
          </tr>
          <tr>
            <td>60s (Um minuto)</td>
            <td>R$ 250,00</td>
            <td>R$ 275,00</td>
          </tr>
          <tr>
            <td>90s (Um minuto e meio)</td>
            <td>R$ 325,00</td>
            <td>R$ 350,00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 centered">
      <h1>Flyer Publicitário</h1>
      <p>Com especialistas na área de comunicação, é possível, a um custo acessível,
      a produção de flyers publicitários digitais para a sua empresa, para ajudar a
      alavancar suas vendas e aprimorar a imagem do seu negócio.</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Tamanho Pacote</td>
            <td>Coworker da Fábrica</td>
            <td>Público Externo</td>
          </tr>
          <tr>
            <td>P (1 Material)</td>
            <td>R$ 50,00</td>
            <td>R$ 60,00</td>
          </tr>
          <tr>
            <td>M (3 Materiais)</td>
            <td>R$ 100,00</td>
            <td>R$ 120,00</td>
          </tr>
          <tr>
            <td>G (5 Materiais)</td>
            <td>R$ 150,00</td>
            <td>R$ 180,00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-6 centered">
      <h1>Criação de Identidade Visual</h1>
      <p>Através de especialistas de comunicação, é possível, a um custo acessível,
      a criação o de uma nova identidade visual para sua empresa, auxiliando assim
      a aprimorar a imagem do seu negócio.</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Tipo de trabalho</td>
            <td>Coworker da Fábrica</td>
            <td>Público Externo</td>
          </tr>
          <tr>
            <td>Logomarca</td>
            <td>R$ 250,00</td>
            <td>R$ 300,00</td>
          </tr>
          <tr>
            <td>Logomarca + Tipografia</td>
            <td>R$ 420,00</td>
            <td>R$ 500,00</td>
          </tr>
          <tr>
            <td>Manual de Identidade Visual</td>
            <td>R$ 600,00</td>
            <td>R$ 700,00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 centered">
      <h1>Website HTML5</h1>
      <p>Através de especialistas da área de Tecnologia da Informação, é possível
      criar, a um custo bastante acessível, sua primeira página na Web. Temos planos
      de hospedagem de seu website inclusive, para deixar tudo mais fácil para o seu negócio.</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Tipo de Hospedagem</td>
            <td>Coworker da Fábrica</td>
            <td>Público Externo</td>
          </tr>
          <tr>
            <td>Mensal</td>
            <td>R$ 400,00 + R$ 15,00/mês</td>
            <td>R$ 500,00 + R$ 20,00/mês</td>
          </tr>
          <tr>
            <td>Trimestral</td>
            <td>R$ 400,00 + R$ 35,00/tri</td>
            <td>R$ 500,00 + R$ 50,00/tri</td>
          </tr>
          <tr>
            <td>Semestral</td>
            <td>R$ 400,00 + R$ 60,00/sem</td>
            <td>R$ 500,00 + R$ 70,00/sem</td>
          </tr>
          <tr>
            <td>Anual</td>
            <td>R$ 400,00 + R$ 100,00/ano</td>
            <td>R$ 500,00 + R$ 120,00/ano</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-6 centered">
      <h1>Aplicativo Mobile</h1>
      <p>Através de especialistas da área de Tecnologia da Informação, é possível
      criar, a um custo bastante acessível, seu aplicativo mobile para smartphones
      e tablets, tudo de acordo com a demanda do seu negócio.</p>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Tamanho do Aplicativo</td>
            <td>Coworker da Fábrica</td>
            <td>Público Externo</td>
          </tr>
          <tr>
            <td>PP (Android)</td>
            <td>R$ 500,00</td>
            <td>R$ 700,00</td>
          </tr>
          <tr>
            <td>P (Android, WP)</td>
            <td>R$ 700,00</td>
            <td>R$ 900,00</td>
          </tr>
          <tr>
            <td>M (Android, WP, iOS)</td>
            <td>R$ 900,00</td>
            <td>R$ 1100,00</td>
          </tr>
          <tr>
            <td>G (Android, WP, iOS)</td>
            <td>R$ 1200,00</td>
            <td>R$ 1500,00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
