form.form-horizontal.col-lg-12#passwordform(action='password', method='post', enctype='multipart/form-data', accept-charset='utf-8')
  .form-group
    label.col-lg-2.control-label Senha antiga
    .col-lg-10
      input#id_old_password.form-control(name='old_password', type='password')
  .form-group
    label.col-lg-2.control-label Nova senha
    .col-lg-10
      input#id_new_password1.form-control(name='new_password1', type='password')
  .form-group
    label.col-lg-2.control-label Confirmação
    .col-lg-10
      input#id_new_password2.form-control(name='new_password2', type='password')
