form#image.form(style='text-align: center; margin-top:25px;', action='efforia/photo', method='post', accept-charset='utf-8', enctype='multipart/form-data')
    a.upload(style='font-size:5em; margin-bottom:50px; cursor:hand; cursor:pointer;')
      span.glyphicon.glyphicon-cloud-upload.big-glyphicon
    input.col-lg-12.file(style='opacity: 0;', name='file', type='file')