.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Postagem
.modal-body(style='background-color: #00A946;')
        | {{content|safe}}
.modal-footer
        button.btn.btn-danger.deletable Remover
        button.btn.btn-primary.spread Espalhar
