@font-face {
	font-family: zerothrees;
	src: url('zerothrees.ttf');
}

body {
	margin:0;
	padding:0;
	color:#fff;
	background:#000;
	font-family: zerothrees;
}

.quadrado{
	width:180px;
	height:180px;
	float:left;
	margin:4px;
	position:relative;
	cursor:pointer;
}

.quadradoFlip{
	position:absolute;
	width:100%;
	height:100%;
	border:5px solid #fff;
	background:#555;
}

.quadradoFlip:hover{
	border:10px solid #999;
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
	box-shadow:0 0 30px #999 inset;
}

.quadradoFlip img{
	position:absolute;
	top:50%;
	left:50%;
	margin:-70px 0 0 -70px;
}

.dadosQuadrado{
	display:none;
}

.descrQuadrado{
	font-size:11px;
	padding:50px 10px 20px 20px;
}

.limpo{
	clear:both;
}

.superior {
	z-index: 2;
}

.inferior {
	z-index: 1;
}

#dialogo { 
	width: 40%;
	height:40%;
	/*border:5px solid #fff;
	background:#000;*/
}

#conteudoEsquerda {
	position:fixed;
	width:15%;
	top:10px;
	left:10px;
}
#conteudoDireita {
	position:fixed;
	width:15%;
	top:10px;
	right:10px;
}
#conteudoCentral {
	width: 70%; 
	margin:0 auto;  
	text-align:center;    
}
