<html>
	<title>Página não encontrada</title>
	<head>
		<link rel="stylesheet" type="text/css" href="efforia.css">
		<link rel="shortcut icon" href="images/logo.png">
	</head>
	<body>
		<div style="text-align:center; background:black; border-radius:25px; width:70%; margin-left:15%; margin-top:12%;" href="/">
			<img src="images/notfound.png" width="80%"/>
			<h2>A página não foi encontrada.</h2>
			<h2 style="display:inline;">Você pode retornar à página inicial por <a style="display:inline; color:red;" href="/">aqui</a></h2>
		</div>
	</body>
</html>
