<html>
	<title>Erro do Efforia</title>
	<head>
		<link rel="stylesheet" type="text/css" href="efforia.css">
		<link rel="shortcut icon" href="images/logo.png">
	</head>
	<body>
		<div style="text-align:center; background:red; border-radius:25px; width:70%; margin-left:15%; margin-top:5%;">
			<img src="images/problem.png" width="80%"/>
			<h2>Ocorreu um erro fatal no Efforia. Desculpe-nos pelo transtorno.</h2>
			<h2 style="display:inline;">Você pode retornar à página inicial por <a style="display:inline; color:black;" href="/">aqui</a></h2>
		</div>
	</body>
</html>