<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="efforia.css">
		<link rel="shortcut icon" href="images/logo.png">
		<script type="text/javascript" src="libraries/jquery.js"></script>
		<script type="text/javascript" src="libraries/jquery-ui-black.js"></script>
		<script type="text/javascript" src="libraries/jquery-popup.js"></script>
		<script type="text/javascript" src="efforia.ajax.js"></script>
		<title>Efforia - {% block title %}{% end %}</title>
	</head>
	{% block content %}
	{% end %}
</html>
