<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="efforia.css">
		<link rel="shortcut icon" href="images/logo.png">
		<script type="text/javascript" src="libraries/jquery.js"></script>
		<script type="text/javascript" src="libraries/jquery-ui-black.js"></script>
                <script type="text/javascript" src="libraries/facebook.js"></script>
		<script> 
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '153246718126522',
					status     : true, 
					cookie     : true,
					xfbml      : true,
					oauth      : true,
				});
			};
			(function(d){
				var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
				js = d.createElement('script'); js.id = id; js.async = true;
				js.src = "//connect.facebook.net/en_US/all.js";
				d.getElementsByTagName('head')[0].appendChild(js);
			}(document));
		</script>
		<title>{% block title %}{% end %} - Efforia</title>
	</head>
</html>
