<div class="left">
	<h2>Descrição da Causa</h2>
	<form id="causas" style="text-align:center;" action="/causes" method="post" accept-charset="utf-8" enctype="multipart/form-data">
			<div id="etiquetas">
			{% for field in form %}
				{% if 'Prazo' in field.label %}
					<div>{{ field.label }}
					<input type="text" name="deadline" id="{{ field.name }}" class="date deadline"></input></div>
				{% else %}
					<div>{{ field.label }}
					{{ field }}</div>
				{% end %}
			{% end %}
			<div>Número de créditos <input type="number" min="1" name="value" value="1"/></div>
			</div>
		<div><a id="causeupload" class="ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em; width:80%; margin-top:10px;">Criar uma Nova Causa</a></div>
	</form>
</div>
<div class="right">
	<form id="conteudo" action="expose" method="post" enctype="multipart/form-data" accept-charset="utf-8">
		<h2>Vídeo da Causa</h2>
		<div id="selectupload" style="position:absolute; width:40%;"><img src="images/upload.png" style="margin-left:10%; width:80%;"/></div>
		<div id="overlay" style="width:40%;">
			<p>Fazendo o upload do arquivo...</p>
			<progress style="width:100%;"></progress>
		</div>
		<div class="tutor" style="margin-top:50%;">Causas são ações movidas pelos usuários para levantar recursos para um determinado projeto de filme, música ou até mesmo álbum. Assim que ela é publicada, a causa passa a circular no Efforia e nas redes sociais Facebook e Twitter.</div>
		<div><input style="opacity:0;" name="file" type="file"/></div>
	</form>
</div>