<form id="causas" action="/causes" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<h2>Que causa você quer espalhar?</h2>
		<div style="float:left; width:48%;"> 
        {% for field in form %}
                {{ field }}
        {% end %}
       	</div>
        <div style="float:right; width:48%;">
        <img id="upload" src="images/upload.png" width="100%"/>
		<input style="opacity:0; height:0%; width:0%;" name="file" type="file"/>
		</div>
		<input value="Enviar vídeos de meu dispositivo" type="submit"/>
</form>