<form id="conteudo" style="text-align:center;" action="{{ url }}?nexturl=http://www.efforia.com.br/expose" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<img id="upload" src="images/upload.png" style="position:absolute; left:7.5%; width:85%;"/>
	<input type="hidden" name="token" value="{{ token }}"></input>
	<input style="opacity:0; height:0%; width:0%;" name="file" type="file"/>
	<a class="videoupload ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em; width:285px;">Fazer o upload do arquivo</a>
</form>