<div class="left">
	<h2>Envio de um Vídeo</h2>
	<form id="conteudo" style="text-align:center;" action="/contents" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<div style="text-align:right;"><label>Título do vídeo</label><input class="eraseable" type="text" style="width:250px;" name="title"/></div>
	    <div style="text-align:right;"><label>Palavras-chave</label><input class="eraseable" type="text" style="width:250px;" name="keywords"/></div>
	    <div style="text-align:right;"><textarea class="eraseable" name="content" rows="4" cols="30" style="margin-left:0px; width:390px;">Descreva o conteúdo deste vídeo, de uma forma breve.</textarea></div>
	    <div style="text-align:right;"><label>Categoria</label><select class="select">
	    	<option value="0">Nenhuma</option>
	    	<option value="1">Filmes</option>
	    	<option value="2">Documentários</option>
		  	<option value="3">Videoclipes</option>
		  	<option value="4">Shows</option>
		  	<option value="5">Programas</option>
		</select></div>
		<a class="monetize ui-button ui-widget ui-state-default ui-corner-all" style="margin-top:10px; padding: .4em 1em; width:285px;">Monetizar vídeo?</a>
		<a class="video ui-button ui-widget ui-state-default ui-corner-all" style="margin-top:10px; padding: .4em 1em; width:285px;">Fazer o upload do arquivo</a>
	</form>
</div>
<div class="right">
	<div class="tutor" style="margin-top:25%;">No envio de vídeos você espalha o conteúdo audiovisual para a rede Efforia, passando também pelo canal oficial do Youtube em youtube.com/EfforiaTV</div>
</div>
