<div style="width:400px; height:320px;">
	<form id="conteudo" style="text-align:center;" action="/contents" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input class="eraseable" type="text" name="title" style="margin-left:0px; width:394px;" value="Coloque o título do vídeo aqui."></input>
	    <input class="eraseable" type="text" name="keywords" style="margin-left:0px; width:394px;" value="Selecione as palavras-chave."></input>
	    <textarea class="eraseable" name="content" rows="4" cols="30" style="margin-left:0px; width:390px;">Descreva o conteúdo deste vídeo, de uma forma breve.</textarea>
	    <select class="select" style="width:400px;">
	    	<option value="0">Selecione uma categoria.</option>
	    	<option value="1">Filmes</option>
		  	<option value="2">Videoclipes</option>
		  	<option value="3">Shows</option>
		  	<option value="4">Programas</option>
		</select>
		<a class="video ui-button ui-widget ui-state-default ui-corner-all" style="margin-top:10px; padding: .4em 1em; width:285px;">Fazer o upload do arquivo</a>
	</form>
</div>
