<div style="width:320px; height:420px;">
	<form id="conteudo" style="text-align:center;" action="/contents" method="post" accept-charset="utf-8" enctype="multipart/form-data">
		<input class="eraseable" type="text" name="title" style="margin-left:0px; width:314px;" value="Coloque o título do vídeo aqui."></input>
		<textarea class="eraseable" name="content" rows="4" cols="30" style="margin-left:0px; width:310px;">Descreva o conteúdo deste vídeo, de uma forma breve.</textarea>
	    <img id="upload" src="images/upload.png" style="position:absolute; left:7.5%; width:85%;"/>
		<div id="overlay" style="left:7.5%; width:85%;">
			<p>Fazendo o upload do arquivo...</p>
			<progress style="width:100%;"></progress>
		</div>
	    <input class="eraseable" type="text" name="keywords" style="margin-top:170px; margin-left:0px; width:314px;" value="Selecione as palavras-chave."></input>
	    <select class="select">
	    	<option value="0">Selecione uma categoria.</option>
	    	<option value="1">Filmes</option>
		  	<option value="2">Videoclipes</option>
		  	<option value="3">Shows</option>
		  	<option value="4">Programas</option>
		</select>
		<input style="opacity:0; height:0%; width:0%;" name="file" type="file"/>
	</form>
</div>
