<div class="left">
	<h2 class="header"> </h2>
	<div id="etiquetas">
	{% for field in form %}
		<div style="display:inline;">{{ field.label }}
		{{ field }}</div>
	{% end %}
	<h3 id="credits">
		{% if credit is not 0 %}
			<div>Precisa de {{ credit }} créditos a mais (R$ {{ credit*1.19 }}).</div>
			<div>Total da compra: <div style="display:inline;">Frete + {{ credit*1.19 }}</div></div>
		{% else %}
			<div>Total da compra: <div style="display:inline;">Frete + Créditos</div></div>
			<div id="payment">
				{{ payments.render() }}
			</div>	
		{% end %}
		<a class="cancelpurchase ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em; width:240px;">Cancelar compra</a>
	</h3>
	</div>
</div>

<div class="right">
	<div class="image"> </div>
	<div class="tutor"> </div>
</div>