<!DOCTYPE html>
        <head>
                <link rel="stylesheet" type="text/css" href="efforia.css">
                <link rel="shortcut icon" href="images/logo.png">
                <script type="text/javascript" src="libraries/custom-form-elements.js"></script>
                <script type="text/javascript" src="libraries/jquery.js"></script>
                <script type="text/javascript" src="libraries/jquery-ui-black.js"></script>
                <script type="text/javascript" src="libraries/jquery.ui.datepicker-pt-BR.js"></script>
                <script type="text/javascript" src="libraries/jquery-tubeplayer.js"></script>
                <script type="text/javascript" src="libraries/jquery-mosaic.js"></script>
                <script type="text/javascript" src="libraries/jquery-masonry.js"></script>
                <script type="text/javascript" src="libraries/jquery-easing.js"></script>
                <script type="text/javascript" src="libraries/jquery-dropdown.js"></script>
                <script type="text/javascript" src="libraries/jquery-html5-fileupload.js"></script>
                <script type="text/javascript" src="libraries/fabric.js"></script>
                <script type="text/javascript" src="modules/core.js"></script>
                <script type="text/javascript" src="modules/create.js"></script>
                <script type="text/javascript" src="modules/spread.js"></script>
                <script type="text/javascript" src="modules/play.js"></script>
                <script type="text/javascript" src="modules/store.js"></script>
                <script type="text/javascript" src="modules/explore.js"></script>
                <script type="text/javascript" src="efforia.globals.js"></script>
                <script type="text/javascript" src="efforia.animation.js"></script>
                <script type="text/javascript" src="efforia.toolbox.js"></script>
                <script type="text/javascript" src="efforia.event.js"></script>
                <script type="text/javascript" src="zhockon.js"></script>
                <title>{{ user.get_full_name() }} - Efforia</title>
        </head>
	<body>
		<div id="Navegacao" class="FixoCentral">
			<a href="/"><img style="float:left; margin-left:1.25%;" src="images/efforia-center.png" height="40"/></a>				
			<a class="nav" id="create" style="font-size:30px;" href="#" title="O que você quer comprar hoje?">Crie&nbsp;</a>
			<img src="images/bar.png" height="28"></img>
			<a class="nav" id="spread" style="font-size:30px;" href="#" title="O que você quer espalhar hoje?">&nbsp;Espalhe&nbsp;</a>
			<img src="images/bar.png" height="28"></img>
			<a class="nav" id="play" style="font-size:30px;" href="#" title="O que você quer ver hoje?">&nbsp;Toque</a>
			<form id="explore" action="/search" style="float:right; margin-right:1.25%;" method="get" accept-charset="utf-8">
			<input class="lupa" name="explore" href="#" title="Quem você deseja procurar hoje?"></input>
			</form>
			<a style="float:right; margin-top:2px; margin-right:2px;" href="filter"><img src="images/filter.png" width="28" height="28"></a>
			<a style="float:right; margin-top:2px; margin-right:2px;" href="config"><img src="images/config.png" width="28" height="28"></a>
			<a style="float:right; margin-top:2px; margin-right:8px;" href="cart"><img src="images/cart.png" width="28" height="28"></a>
		</div>
		<div id="Esquerda" class="FixoCentral">
        	<img style="border:3px solid white; border-radius:5px;" src="{{ visual }}" width="80%"/>
        	<h2><dl>
        	<dt> {{ user.first_name }} </dt>
        	{% if birthday %} <dt> {{ birthday }} Anos </dt></dl> {% end %}
        	</h2>
        	<a class="products ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em; width:80%;" href="products">Produtos</a>
        	<div class="buyable" style="width:100%; cursor:pointer;">
        	<h3> {% if user.profile.points is 0 %} Você ainda não possui pontuação. {% else %} Você tem {{ user.profile.points }} {% if user.profile.points is 1 %} ponto {% else %} pontos {% end %} {% end %} </h3>
        	<h3> {% if user.profile.credit is 0 %} Sem créditos. Gostaria de comprar? {% else %} {{ user.profile.credit }} {% if user.profile.credit is 1 %} crédito {% else %} créditos {% end %} {% end %} </h3>
        	</div>
			<a class="ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em; width:80%;" href="favorites">Favoritos</a>
			<div style="width:100%;">
			<h3> {% if rels is 0 %} Não há favoritos ainda. {% else %} Fã de {{ rels }} {% if rels is 1 %} coisa {% else %} coisas	{% end %} {% end %}</h3>
			</div>
        </div>
        <div id="Sair" class="FixoCentral">
        	<a class="ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em; width:80%;" href="logout">Sair</a>
        </div>
        <div id="Grade"></div>
		<div id="Canvas" class="FixoCentral"><div id="Exterior"><div id="Interior">
            <canvas id="efforia"></canvas>
       	</div></div></div>
       	<div id="Menu">
	       		<div class="submenu"><input type="checkbox" class="styled"></input>&nbsp;Lugares</div>
	       		<div class="submenu"><input type="checkbox" class="styled"></input>&nbsp;Pessoas</div>
	       		<div class="submenu"><input type="checkbox" class="styled"></input>&nbsp;Postagens</div>
	       		<div class="submenu"><input type="checkbox" class="styled"></input>&nbsp;Vídeos</div>
	       		<div class="submenu"><input type="checkbox" class="styled"></input>&nbsp;Eventos</div>
	       		<div class="submenu"><input type="checkbox" class="styled"></input>&nbsp;Causas</div>
	       		<div class="submenu"><input type="checkbox" class="styled"></input>&nbsp;Movimentos</div>
	       		<div class="submenu"><input type="checkbox" class="styled"></input>&nbsp;Programações</div>
	        </div>
       	</div>
       	<div id="Direita" class="FixoCentral" style="display:none; top:300px; right:0px; width:15%; height:100px; background:black;">Mensagem</div>
       	<div id="Espaco"></div>
	</body>
</html>
