<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="efforia.css">
		<link rel="shortcut icon" href="images/logo.png">
		<script type="text/javascript" src="libraries/jquery.js"></script>
		<script type="text/javascript" src="libraries/jquery-ui-black.js"></script>
		<script type="text/javascript" src="libraries/jquery-html5-fileupload.js"></script>
		<script type="text/javascript" src="efforia.event.js"></script>
		<script type="text/javascript" src="efforia.toolbox.js"></script>
		<title>Efforia - Vemos um mundo plural.</title>
	</head>
	<body>
		<div id="central">
			<img src="images/people.png" width="100%" height="auto"/>
			<h1>Efforia é uma rede social focada na produção e consumo de conteúdo independente.</h1>
			<img src="images/efforia-enter.png" width="100%" height="auto"/>
			<a class="ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="twitter">Twitter</a>
			<input id="facebook" type="image" src="images/facebook.png" border="0" href="facebook" name="submit" width="120">
			<a class="ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="google">Google</a>
			<a class="ui-button ui-widget ui-state-default ui-corner-all register" style="padding: .4em 1em;" href="register">Registrar</a>
			<a class="ui-button ui-widget ui-state-default ui-corner-all login" style="padding: .4em 1em;" href="login">Entrar</a>
		</div>
		<div id="Espaco"></div>
	</body>
</html>