<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="efforia.css">
		<link rel="shortcut icon" href="images/logo.png">
		<script type="text/javascript" src="zhockon.js"></script>
		<script type="text/javascript" src="libraries/jquery.js"></script>
		<script type="text/javascript" src="libraries/jquery-ui-black.js"></script>
		<script type="text/javascript" src="libraries/jquery-html5-fileupload.js"></script>
        <script type="text/javascript" src="libraries/jquery-mosaic.js"></script>
        <script type="text/javascript" src="libraries/jquery-masonry.js"></script>
        <script type="text/javascript" src="libraries/jquery-easing.js"></script>
        <script type="text/javascript" src="modules/core.js"></script>
        <script type="text/javascript" src="modules/create.js"></script>
        <script type="text/javascript" src="modules/spread.js"></script>
        <script type="text/javascript" src="modules/play.js"></script>
        <script type="text/javascript" src="modules/store.js"></script>
        <script type="text/javascript" src="modules/explore.js"></script>
        <script type="text/javascript" src="efforia.globals.js"></script>
		<script type="text/javascript" src="efforia.event.js"></script>
		<script type="text/javascript" src="efforia.toolbox.js"></script>
		<script type="text/javascript" src="efforia.main.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('body').css({
					'background':'url(images/wallpaper.png) no-repeat center center fixed',
					'-webkit-background-size':'cover',
					'-moz-background-size':'cover',
					'-o-background-size':'cover',
					'background-size':'cover',
				});
			});
		</script>
		<title>Efforia - Vemos um mundo plural.</title>
	</head>
	<body>
		<div id="Navegacao" class="FixoCentral">
			<img style="float:left;" src="images/efforia.png"/>
			<div style="font-family:zerothrees,Lucida Sans; display:inline; float:left; margin-top:10px;">&nbsp;Entrar com&nbsp;</div>
			<input class="social buttons-left" type="image" src="images/twitter.png" border="0" href="twitter" name="submit" width="75">
			<input class="social buttons-left" type="image" src="images/facebook.png" border="0" href="facebook" name="submit" width="75">
			<input class="social buttons-left" type="image" src="images/youtube.png" border="0" href="google" name="submit" width="75">				
			<a class="buttons-right ui-button ui-widget ui-state-default ui-corner-all register" style="padding: .2em 1em; display:none;" href="register">Registrar</a>
			<a class="buttons-right ui-button ui-widget ui-state-default ui-corner-all login" style="padding: .2em 1em; margin-right:0px;" href="login">Entrar</a>
		</div>
		<div style="margin-top:50px; display:none; text-align:center;" id="Pagina"></div>
		<div id="Central">
			<h1 style="margin-left:10%; width:80%; font-size:35px;"><div style="display:inline; color:red;">Efforia</div> é a sua rede de comércio social, quando, onde e como você quiser. </h1>
			<div class="mosaic-block" style="width:33.3%; height:33.3%;">
				<a href="#">
				<div class="who mosaic-backdrop" href="#" style="background:red; color:white; top:0%; display:block;">
					<div style="padding:5%;">
						<h1>O que é</h1>
					</div>
				</div>
				</a>
			</div>
			<div class="mosaic-block" style="width:33.3%; height:33.3%;">
				<a href="#">
				<div class="what mosaic-backdrop" href="#" style="background:red; color:white; top:0%; display:block;">
					<div style="padding:5%;">
						<h1>O que fazemos</h1>
					</div>
				</div>
				</a>
			</div>
			<div class="mosaic-block" style="width:33.3%; height:33.3%;">
				<a href="#">
				<div class="how mosaic-backdrop" href="#" style="background:red; color:white; top:0%; display:block;">
					<div style="padding:5%;">
						<h1>Como fazemos</h1>
					</div>
				</div>
				</a>
			</div>
			<div class="mosaic-block fade" style="width:33.3%; height:33.3%;">
				<a href="register" class="register mosaic-overlay">
				<div style="padding:5%;"><h1>Artistas</h1>
				<p></p></div>
				<div class="name" style="display:none;"></div>
				</a>
				<div class="mosaic-button" style="background:black;"><img src="images/artista.png" height="100%"></div>
			</div>
			<div class="mosaic-block fade" style="width:33.3%; height:33.3%;">
				<a href="place" class="place mosaic-overlay">
				<div style="padding:5%;"><h1>Lugares</h1>
				<p></p></div>
				<div class="name" style="display:none;"></div>
				</a>
				<div class="mosaic-button" style="background:black;"><img src="images/local.png" height="100%"></div>
			</div>
			<div class="mosaic-block fade" style="width:33.3%; height:33.3%;">
				<a href="register" class="register mosaic-overlay">
				<div style="padding:5%;"><h1>Fãs</h1>
				<p></p></div>
				<div class="name" style="display:none;"></div>
				</a>
				<div class="mosaic-button" style="background:black;"><img src="images/fa.png" height="100%"></div>
			</div>
		</div>
		<div id="Espaco"></div>
		<div id="Rodape" class="FixoCentral">Sobre | Desenvolvedores | Termos | Direitos Autorais | Publicidade</div>
	</body>
</html>