<div style="width:360px; height:250px;">
	<form id="evento" action="/calendar" method="post" accept-charset="utf-8">
	{% for field in form %}
		<div><div style="width:30%; height:40px; float:left;"><div style="padding:10px;">{{ field.label }}</div></div>
		{% if 'Início' in field.label or 'Fim' in field.label %}
			<div style="width:70%; height:40px; float:left;"><input type="text" name="{{ field.name }}" id="{{ field.name }}"></input></div></div>
		{% else %}
			<div style="width:50%; height:40px; float:left;">{{ field }}</div></div>
		{% end %}
	{% end %}
	<div style="text-align:center;">
		<a id="eventpost" class="ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em; margin-top:5px;" href="calendar">Espalhar um novo evento</a>
	</div>
	</form>
</div>
