{% include "../../templates/social.html" %}
<title>{% block title %}{{ user.get_full_name() }}{% end %}</title>
<div id="conteudoCentral">
	<div id="dialogo" title="O que você quer expor?">
		<form action="{{ post_url }}?nexturl=http://efforia.herokuapp.com/" method="post" enctype="multipart/form-data" accept-charset="utf-8">
          <p><input name="file" type="file"/></p>
          <input name="token" type="hidden" value="{{ youtube_token }}"/>
          <p><input class="ui-button ui-widget ui-state-default ui-corner-all" value="Enviar conteúdo" type="submit"/></p>
        </form>
	</div>
</div>