{% for entry in favorites.entry %}
	<div class="mosaic-block fade">
		<a href="{{ entry.GetSwfUrl() }}" class="mosaic-overlay">
	    <div class="details"><h4>{{ entry.media.title.text }}</h4></div></a>
	    <div class="mosaic-backdrop"><img src="{{ entry.media.thumbnail[0].url }}" width="100%" height="140%"/></div>
	</div>
{% end %}
{% for k in known %}
	<div class="mosaic-block fade">
		<a href="#" class="mosaic-overlay">
        <div class="details">
			<h4>{{ k.get_full_name() }}</h4>
            <p>{{ k.profile.points }} Pontos </p>
		</div></a>
        <div class="mosaic-backdrop"><img src="images/profile.png" width="100%" height="120%"/></div>
        </div>
	</div>
{% end %}
