{% for index,object in enumerate(feed) %}
	{% if index is 0 and number is -1 %}
		<div class="mosaic-block" style="display:none;">
			<a class="back" href="#" style="float:left; color:black; width:100%;">
			<div class="mosaic-backdrop" style="background:white; top:0%; display:block; text-align:center;">
				<img src="images/helice.png" height="100%"></img>
			</div>
			</a>
		</div>
	{% end %}
	{% if index is 12+number %}
		<div class="mosaic-block" style="display:none;">
			<a class="return" href="#" style="float:left; color:black; width:100%;">
			<div class="mosaic-button">
				<img src="images/helice.png" height="100%"></img>
			</div>
			</a>
		</div>
	{% elif index is 36+number %}
		<div class="mosaic-block" style="display:none;">
			<a class="return" href="#" style="float:left; color:black; width:100%;">
			<div class="mosaic-button">
				<img src="images/helice.png" height="100%"></img>
			</div>
			</a>
		</div>
	{% elif index is 60+number %}
		<div class="mosaic-block" style="display:none;">
			<a class="return" href="#" style="float:left; color:black; width:100%;">
			<div class="mosaic-button">
				<img src="images/helice.png" height="100%"></img>
			</div>
			</a>
		</div>
	{% end %}
	{% if not hasattr(object,'name') %}
		<div class="mosaic-block fade">
			<a href="#">
			<div class="mosaic-overlay" style="top:0%; display:block;">
				<div class="details" style="text-align:center;">
				<h2></h2>
				<p></p>
				<div class="time" style="display:none;"></div>
				</div>
				<div class="date"></div>
			</div>
			</a>
			<div class="mosaic-backdrop" style="top:0; background:white; text-align:center;">
			</div>
		</div>
	{% elif '$#' in object.name %}
		<div class="mosaic-block">
			<a href='#'>
			<div class="donation mosaic-backdrop" style="background:red; top:0%; display:block;">
				<div class="details"> 
				<h2>{{ object.cause.name }}</h2>
				<h3>Doação de {{ object.value }} créditos do {{ object.donator.username }}</h3>
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[:1] }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			</a>
		</div>
	{% elif '$>' in object.name %}
		<div class="mosaic-block fade">
			<a href="{{ object.video.token }}">
			<div class="playable mosaic-overlay" style="top:0%; display:block;">
				<div class="details">
				<h2>{{ object.video.name.split(';')[0][1:] }}</h2>
				<div class="time" style="display:none;">{{ object.video.date }};{{ object.video.name[:1] }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			</a>
			<div class="mosaic-button">
				{% if not object.video.visual %}
					<img src="images/toque.png" height="100%"></img>
				{% else %}
					<img src="{{ object.video.visual }}" height="100%" width="100%"></img>
				{% end %}
			</div>
		</div>
	{% elif '*' in object.name %}
		<div class="mosaic-block">
			<a href="#">
			<div class="{% if 'create' in object.name %}creation {% elif 'buy' in object.name %}purchase {% elif 'play' in object.name %}playlist {% elif 'new' in object.name %}new {% elif 'products' in object.name %}moreproducts {% else %}selection {% end %}mosaic-backdrop" 
			href="{% if '##' in object.name %}movement?action=grid{% elif '>>' in object.name %}schedule?action=grid{% else %}{{ object.name[1:] }}{% end %}" style="background:black; color:white; top:0%; display:block;">
				<div class="details" style="text-align:center;">
					<h2>
						{% if 'new' in object.name %} Selecionar novos 
						{% elif 'create' in object.name %} Criar novos
						{% elif 'buy' in object.name %} Comprar <div class="title" style="display:inline;">{{ object.vals['quantity'] }}</div>
						{% elif 'play' in object.name %} Tocar
						{% elif 'products' in object.name %} Comprar mais
						{% else %} Selecionar {% end %} Itens
					</h2>
					{% if 'buy' in object.name %}<p> <div class="description" style="display:inline;">{{ object.vals['value'] }}</div> Créditos </p>{% end %}
				</div>
			</div>
			</a>
		</div>
	{% elif '++' in object.name %}
		<div class="mosaic-block fade">
			<a href="#">
			<div class="mosaic-overlay" style="top:0%; display:block;">
				<div class="details" style="text-align:center;">
				<h2>{% if object.quantity is not 1 %} {{ object.quantity }} {% end %} {{ object.product.name.split(';')[0][1:] }}</h2>
				<p>{{ object.quantity*object.product.credit }} Créditos</p>
				<div class="time" style="display:none;">{{ object.product.date }}</div>
				</div>
				<div class="date">{{ object.product.date.day }} de {{ locale[object.product.date.month-1] }}</div>
			</div>
			</a>
			<div class="mosaic-backdrop" style="top:0; background:white; text-align:center;">
				{% if not object.product.visual %}
					<img src="images/toque.png" height="100%"></img>
				{% else %}
					<img src="{{ object.product.visual }}" height="100%"></img>
				{% end %}
			</div>
		</div>
	{% elif '&' in object.name %}
		<div class="mosaic-block fade">
			<a href="#">
			<div class="product mosaic-overlay" style="top:0%; display:block;">
				<div class="details">
				<h2>{{ object.name.split(';')[0][1:] }}</h2>
				<div class="time" style="display:none;">{{ object.date }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			</a>
			<div class="mosaic-backdrop" style="top:0; background:white; text-align:center;">
				{% if not object.visual %}
					<img src="images/toque.png" height="100%"></img>
				{% else %}
					<img src="{{ object.visual }}" height="100%"></img>
				{% end %}
			</div>
		</div>
	{% elif '@!' in object.name %}
		<div class="spreadablespread mosaic-block">
			<a href='#'>
			<div class="mosaic-backdrop" style="background:red; top:0%; display:block;">
				<div class="details"> 
				{{ object.spreaded.content[:20] }}...
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[1:2] }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			<div style="background:black; top:33%; display:block; height:33%" class="mosaic-backdrop"></div>
			<div style="background:white; top:66%; display:block; height:34%" class="mosaic-backdrop"></div>
			</a>
		</div>
	{% elif '@$' in object.name %}
		<div class="eventspread mosaic-block">
			<a href='#'>
			<div class="mosaic-backdrop" style="background:white; color:black; top:0%; display:block;">
				<div class="details"> 
				{{ object.spreaded.name[2:] }}
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[:1] }}@</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			<div style="background:black; top:33%; display:block; height:33%" class="mosaic-backdrop"></div>
			<div style="background:red; top:66%; display:block; height:34%" class="mosaic-backdrop"></div>
			</a>
		</div>
	{% elif '!' in object.name %}
		<div class="mosaic-block">
			<a href='#'>
			<div class="spreadable mosaic-backdrop" style="background:red; top:0%; display:block;">
				<div class="details"> 
				{% if len(object.content) > 80-len(object.name) %}
					{{ object.content[:80-len(object.name)] }}... {{ object.name }}
				{% else %}
					{{ object.content }} {{ object.name }}
				{% end %}
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[:1] }}</div>
				<div class="spread" style="display:none;">{{ object.content }} {{ object.name }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			</a>
		</div>
	{% elif '@@' in object.name %}
		<div class="mosaic-block">
			<a href='#'>
			<div class="event mosaic-backdrop" style="background:white; color:black; top:0%; display:block;">
				<div class="details">
				<h2>{{ object.name[2:] }} em {{ object.location }}</h2>
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[:2] }}</div>
				</div>
				<div class="date">{{ object.start_time.day }} de {{ locale[object.start_time.month-1] }}</div>
			</div>
			</a>
		</div>
	{% elif '>>' in object.name %}
		<div class="mosaic-block">
			<a href="#">
			<div class="schedule mosaic-backdrop" href="schedule" style="background:url('images/black.png'); color:white; top:0%; display:block;">
				<div class="details">
				<h2>{{ object.name[2:] }}</h2>
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[:2] }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			</a>
		</div>
	{% elif '>' in object.name %}
		<div class="mosaic-block fade">
			<a href="{{ object.token }}">
			<div class="playable mosaic-overlay" style="top:0%; display:block;">
				<div class="details">
				<h2>{{ object.name.split(';')[0][1:] }}</h2>
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[:1] }}</div>
				{% if object.credit %}<h3 style="text-align:center;"class="buyvideo"><div class="credit" style="display:inline;">{{ object.credit }}</div> Créditos</h3> {% end %}
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			</a>
			<div class="mosaic-button">
				{% if not object.visual %}
					<img src="images/toque.png" height="100%"></img>
				{% else %}
					<img src="{{ object.visual }}" height="100%" width="100%"></img>
				{% end %}
			</div>
		</div>
	{% elif '##' in object.name %}
		<div class="mosaic-block">
			<a href="#">
			<div class="movement mosaic-backdrop" href="movement?view={{ object.name }}" style="background:url('images/white.png'); color:black; top:0%; display:block;">
				<div class="details">
				<h2>{{ object.name[2:] }}</h2>
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[:2] }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			</a>
		</div>
	{% elif '@#' in object.name %}
		<div class="causablespread mosaic-block">
			<a href='#'>
			<div class="mosaic-backdrop" style="background:black; top:0%; display:block;">
				<div class="details"> 
				#{{ object.spreaded.name[2:] }}
				<div class="time" style="display:none;">{{ object.date }};{{ object.name[1:2] }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			<div style="background:red; top:33%; display:block; height:33%" class="mosaic-backdrop"></div>
			<div style="background:white; top:66%; display:block; height:34%" class="mosaic-backdrop"></div>
			</a>
		</div>
	{% elif '#' in object.name %}
		<div class="mosaic-block fade">
			<a href="{{ object.play.token }}">
			<div class="causable mosaic-overlay" style="top:0%; display:block;">
				<div class="details">
				<div><h2 class="causename">{{ object.name.replace(" ","") }}</h2></div>
				<div><h3 class="causecredits">{{ object.credit }} Créditos a serem arrecadados</h3></div>
				<div><div class="time" style="display:none;">{{ object.date }};{{ object.name[:1] }}</div></div>
				<div class="content" style="display:none;">{{ object.content }}</div>
				</div>
				<div class="date">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</div>
			</a>
			<div class="mosaic-button">
				{% if not object.play.visual %}
					<img src="images/cause.png" height="100%"></img>
				{% else %}
					<img src="{{ object.play.visual }}" height="100%" width="100%"></img>
				{% end %}
			</div>
		</div>
	{% elif '%%' in object.name %}
		<div class="mosaic-block-transparent"></div>
	{% else %}
		<div class="mosaic-block fade">
			<a href="#" class="profile mosaic-overlay">
			<div><h2>{{ object.user.first_name }}</h2></div>
			<div class="name" style="display:none;">{{ object.name }}</div>
			<div class="details">{{ object.date.day }} de {{ locale[object.date.month-1] }}</div>
			</a>
			<div class="mosaic-backdrop" style="background:black; top:0;"><img src="{{ object.user.profile.get_visual() }}" width="80%" height="100%" style="margin-left:10%;"></div>
		</div>
	{% end %}
{% end %}
{% if len(feed) > 24+number %}
	<div class="mosaic-block">
		<a class="more" href="#" style="float:left; color:black; width:100%;">
		<div class="loadable mosaic-backdrop" name="{{ len(feed) }}" href="/" style="background:white; top:0%; display:block; text-align:center;">
			<img src="images/helice.png" height="100%"></img>
		</div>
		</a>
	</div>
{% end %}
