{% include "../../templates/social.html" %}
<title>{% block title %}{{ user.get_full_name() }}{% end %}</title>
<div id="conteudoCentral">
	<div id="inferior">
	{% for entry in feed.entry %}
		<div title={{ entry.media.title.text }} class="quadrado">
		<div class="quadradoFlip"><img src={{ entry.media.thumbnail[0].url }} width=100% height=100%></div>
		<div class="dadosQuadrado"><div class="descrQuadrado"><h3><dl>
		<dt>{{ entry.media.title.text }}       </dt>
		<dt><a class="ui-button ui-widget ui-state-default ui-corner-all" href="{{ entry.GetSwfUrl() }}"><span class="ui-button-text">Tocar</span></a></dt>
		</dl></h3></div></div></div>
	{% end %}
	</div>{% block canvas %}{% end %}
	<div id="superior"><canvas id="efforia"></canvas></div>
	<script>$(function() { $( ".ui-dialog-titlebar" ).remove(); });</script>
	<div id="ferramentas">
	<div id="botoes">
		<a class="ui-button ui-widget ui-state-default ui-corner-all" href="spread" title="O que você quer espalhar hoje?"><span class="ui-button-text">Espalhe</span></a>
		<a class="ui-button ui-widget ui-state-default ui-corner-all" href="play" title="O que você quer ver hoje?"><span class="ui-button-text">Toque</span></a>
		<a class="ui-button ui-widget ui-state-default ui-corner-all" href="#" title="O que você quer comprar hoje?"><span class="ui-button-text">Compre</span></a>
		<a class="ui-button ui-widget ui-state-default ui-corner-all" href="search" title="Quem você deseja procurar hoje?"><span class="ui-button-text">Procure</span></a>
	</div>
	</div>
</div>
</div>
