{% include "../../templates/social.html" %}
<title>{% block title %}{{ user.get_full_name() }}{% end %}</title>
<div id="conteudoCentral">
	<div id="grade">
	{% for entry in feed.entry %}
		<div class="mosaic-block fade">
			<a href="{{ entry.GetSwfUrl() }}" class="mosaic-overlay">
			<div class="details">
			<h4>{{ entry.media.title.text }}</h4>
			</div>
			</a>
			<div class="mosaic-backdrop"><img src="{{ entry.media.thumbnail[0].url }}"/></div>
		</div>
	{% end %}
	</div>
	{% block canvas %}{% end %}
	<div id="conteudoCanvas"><canvas id="efforia"></canvas></div>
</div>
