<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/efforia.css">
	        <script type="text/javascript" src="/static/jquery.js"></script>
	        <script type="text/javascript" src="/static/jquery-ui-black.js"></script>
	        <script type="text/javascript" src="/static/jquery.flip.js"></script>
	        <script type="text/javascript" src="/static/fabric.js"></script> 
	        <script type="text/javascript" src="/static/spin.js"></script>
	        <script type="text/javascript" src="/static/grid.js"></script>
	        <script type="text/javascript" src="/static/dialog.js"></script>
		<title>{% block title %}{% end %} - Efforia</title>
	</head>
</html>
