<!DOCTYPE html>
	<head>
		<link rel="stylesheet" type="text/css" href="efforia.css">
	        <script type="text/javascript" src="jquery.js"></script>
	        <script type="text/javascript" src="jquery-ui-black.js"></script>
	        <script type="text/javascript" src="jquery.flip.js"></script>
	        <script type="text/javascript" src="fabric.js"></script> 
	        <script type="text/javascript" src="spin.js"></script>
	        <script type="text/javascript" src="grid.js"></script>
	        <script type="text/javascript" src="dialog.js"></script>
		<title>{% block title %}{% end %} - Efforia</title>
	</head>
</html>
