{% extends "base.html" %}
{% block title %}Postagens{% endblock %}
{% block content %}
<body>
<div id="conteudoEsquerda"> 
	<img src="/static/efforia.png" width="175" height="50"/>
	<img src="/static/profile.png" width="230" height="230"/>
	<h2>Perfil</h2>
	<h3><dl>
	<dt>{{ user.first_name }} {{ user.last_name }}</dt>
	<dt>{{ user.profile.age }} Anos				  </dt>
    <dt>{{ user.profile.points }} Pontos		  </dt>
    </dl></h3>
    <h2>Acessados</h2>
</div>
<div id="centralizado"><div id="conteudoCentral">
<dl>
    {% for spread in spreads %}
    <dt>{{ spread.user.username }} espalhou {{ spread.content }}</dt>
    {% endfor %}
</dl>
</div></div>
<div id="conteudoDireita"><h2>Seguindo</h2></div>
</body>
{% endblock %}