<form method="post" action="/login">
	<div id="login" style="text-align:right;"> 
		<div id="etiquetas">
			{% for field in form %}
				{{ field.errors }}
				<div>{{ field.label }}
				{{ field }}</div>
			{% end %}
		</div>
		<div id="botoes">
			<a class="submit ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;">Entrar</a>
			<a class="cancel ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;">Cancelar</a>
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
	</div>
</form>

