{% include "../../templates/social.html" %}
<title>{% block title %}Contatos{% end %}</title>
<div id="conteudoCentral">
	<div class="inferior">
	{% for p in people %}
		<div title={{ p.username }} class="quadrado">
		<div class="quadradoFlip"><img alt={{ p.get_full_name() }} user={{ p.username }}></div>
		<div class="dadosQuadrado"><div class="descrQuadrado"><h3><dl>
		<dt>{{ p.get_full_name() }}       </dt>
		<dt>{{ p.profile.age }} Anos      </dt>
		<dt>{{ p.profile.points }} Pontos </dt>
		<dt><a href="/know/?u={{ p.username}}">Conhecer</a></dt>
		</dl></h3></div></div></div>
	{% end %}
	</div>{% block canvas %}{% end %}
	<div class="superior"><canvas id="efforia"></canvas></div>
</div>
