{% include "../../templates/social.html" %}
<title>{% block title %}Contatos{% end %}</title>
<div id="conteudoCentral">
	{% for p in people %}
		<div title={{ p.username }} class="quadrado">
		<div class="quadradoFlip"><img alt={{ p.get_full_name() }} user={{ p.username }}></div>
		<div class="dadosQuadrado"><div class="descrQuadrado"><h3><dl>
		<dt>{{ p.get_full_name() }}       </dt>
		<dt>{{ p.profile.age }} Anos      </dt>
		<dt>{{ p.profile.points }} Pontos </dt>
		<dt><a class="ui-button ui-widget ui-state-default ui-corner-all" href="/know/?u={{ p.username}}"><span class="ui-button-text">Conhecer</span></a></dt>
		</dl></h3></div></div></div>
	{% end %}
	{% block canvas %}{% end %}
	<div id="conteudoCanvas"><canvas id="efforia"></canvas></div>
</div>
