<div class="mosaic-block">
	<div class="mosaic-backdrop" style="background:black; top:0%; display:block;">
		<div style="padding:5%;">
			<a class="action1" href="#" style="float:left; width:100%;">
			<h4>Título da Ação da Grade</h4><p>Retornar a Hélice</p></a>
		</div>
	</div>
</div>
{% for entry in videos %}
	<div class="mosaic-block">
		<a href="{{ entry.token }}">
		<div class="mosaic-backdrop" style="background:url('images/blue.png'); top:0%; display:block;">
			<div style="padding:5%;">
                        	{{ entry.description }}
                                {{ entry.date.day }} de {{ locale[entry.date.month-1] }}
                        </div>
		</div>
		</a>
	</div>
{% end %}
