{% extends 'base.html' %}
{% block title %}Toque{% endblock %}
{% block content %}
<body onload="init();">
<div id="conteudoEsquerda"> 
	<img src="/static/efforia.png" width="175" height="50"/>
	<img src="/static/profile.png" width="230" height="230"/>
	<h2>Perfil</h2>
	<h3><dl>
	<dt></dt>
	<dt>Anos</dt>
    <dt>Pontos</dt>
    </dl></h3>
    <h2>Favoritos</h2>
</div>
<div id="conteudoDireita"><h2>Conhecidos</h2></div>
<div id="conteudoCentral">
<video src="/static/teste.mp4" controls="true"></video>
</div>
</body>
{% endblock %}