<img style="border:3px solid white; border-radius:5px;" src="{{ user.profile.get_visual() }}" width="80%"/>
<h2><dl>
<dt> {{ user.first_name }} </dt>
{% if birthday %} <dt> {{ birthday }} Anos </dt></dl> {% end %}
<div id="fan" style="display:none;">{{ user.profile.birthday }};@</div>
</h2>
<div class="buyable" style="width:100%; cursor:pointer;">
<h3> {% if user.profile.credit is 0 %} Sem créditos. Gostaria de comprar? {% else %} {{ user.profile.credit }} {% if user.profile.credit is 1 %} crédito {% else %} créditos {% end %} {% end %} </h3>
</div>
{% if not fan and not himself %}
<a class="profilefan ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em; width:89%; margin:1%;">Tornar-se fã</a>
{% elif himself %}
{% else %}
<a class="unfan ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em; width:89%; margin:1%;"><div class="id" style="display:none;">{{ user.id }}</div>Deixar de ser fã</a>
{% end %}
<a class="products ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em; width:89%; margin:1%;" href="products">Produtos</a>
<a class="buyable ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em; width:89%; margin:1%; text-align:left;" href="#">
{% if user.profile.points is 0 %} Sem pontuação. {% else %} <div class="number">{{ user.profile.points }}</div> Pontos {% end %}</a>
<a class="favorites ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em; width:89%; margin:1%; text-align:left;" href="favorites">
{% if rels is 0 %} Não há favoritos. {% else %} <div class="number">{{ rels }}</div> Favoritos {% end %}</a>