
<div style="margin-left:5%; width:45%; height:100%; float:left;">
	<h2>Informações do perfil</h2>
	{% if not user.profile.google_token and not user.profile.twitter_token and not user.profile.facebook_token %}
	{% for field in profile %}
		<div><div style="width:30%; height:40px; float:left;"><div style="padding:10px;">{{ field.label }}</div></div>
		<div id="statechange" style="width:10%; height:40px; float:left;"></div>
		<div style="width:50%; height:40px; float:left;">{{ field }}</div></div>
	{% end %}
	<div><div style="width:30%; height:40px; float:left;"><div style="padding:10px;"><label>Aniversário</label></div></div>
	<div id="statechange" style="width:10%; height:40px; float:left;"></div>
	<div style="width:50%; height:40px; float:left;"><input type="text" name="birthday" class="date birthday"></input></div></div>
	<div id="passwordchange"></div>
	<div id="botoes" style="text-align:left;"><input id="password" class="ui-button ui-widget ui-state-default ui-corner-all" value="Trocar a senha"></div>
	{% else %}
	As informações do perfil que são armazenadas no Efforia estão sincronizadas com as redes sociais, e podem ser vistas na íntegra por <a style="color:red;"href="{{ user.email }}">aqui</a>.
	{% end %}
</div>


<form style="margin-right:10%; width:40%; height:450px; float:right;" id="conteudo" action="expose" method="post" enctype="multipart/form-data" accept-charset="utf-8">
	<h2>Foto do perfil</h2>
	<div id="upload" style="position:absolute; width:40%;"><img src="images/upload.png" style="margin-left:10%; width:80%;"/></div>
	<div id="overlay" style="width:40%;">
		<p>Fazendo o upload do arquivo...</p>
		<progress style="width:100%;"></progress>
	</div>
	<div><input style="opacity:0;" name="file" type="file"/></div>
</form>
