<div class="mosaic-block">
	<div class="mosaic-backdrop">
		<a href="#" target="_blank" class="mosaic-overlay action1" style="width:50%; margin-top:20%;">
	<div class="details"><h4>Título da Ação da Grade</h4>
	<p>Descrição da Ação da Grade</p></div></a>
	<a href="#" target="_blank" class="mosaic-overlay action2" style="width:50%; margin-top:20%; margin-left:50%;">
	<div class="details"><h4>Título da Ação da Grade</h4>
	<p>Descrição da Ação da Grade</p></div></a>
		<!--<img src="images/profile.png" width="100%" height="120%">!-->
		</div>
</div>
{% for object in mixed %}
	<div class="mosaic-block fade">
		<a href="#" target="_blank" class="mosaic-overlay">
		<div class="details"><h4>{{ object.name }}</h4>
		<p>{{ object.date.day }} de {{ locale[object.date.month] }}</p></div></a>
		<div class="mosaic-backdrop"><img src="images/profile.png" width="100%" height="120%"></div>
	</div>
{% end %}