<div class="mosaic-block">
	<div class="mosaic-backdrop" style="background:black; top:0%; display:block;">
		<div style="padding:5%;">
			<a class="action1" href="#" style="float:left; width:40%;">
			<h4>Título da Ação da Grade</h4><p>Descrição da Ação da Grade</p></a>
			<a class="action2" href="#" style="float:right; width:40%;">
			<h4>Título da Ação da Grade</h4><p>Descrição da Ação da Grade</p></a>
		</div>
	</div>
</div>
{% for object in mixed %}
	{% if '!' in object.name %}
		<div class="mosaic-block">
			<div class="mosaic-backdrop" style="background:red; top:0%; display:block;">
				<div style="padding:5%;">
				{{ object.content }}
				</div>
			</div>
		</div>
	{% else %}
		<div class="mosaic-block fade">
			<a href="#" target="_blank" class="mosaic-overlay">
			<div class="details"><h4>{{ object.name }}</h4>
			<p>{{ object.date.day }} de {{ locale[object.date.month] }}</p></div></a>
			<div class="mosaic-backdrop"><img src="images/profile.png" width="100%" height="120%"></div>
		</div>
	{% end %}
{% end %}