<!DOCTYPE html>
        <head>
                <link rel="stylesheet" type="text/css" href="efforia.css">
                <script type="text/javascript" src="jquery.js"></script>
                <script type="text/javascript" src="jquery-ui-black.js"></script>
                <script type="text/javascript" src="jquery.flip.js"></script>
                <script type="text/javascript" src="fabric.js"></script> 
                <script type="text/javascript" src="spin.js"></script>
                <script type="text/javascript" src="grid.js"></script>
                <script type="text/javascript" src="bars.js"></script>
		<script>		
			$(function() {
				$( "#dialogo" ).dialog({height:'auto',width:'auto',modal:true});
				$( "input:submit, a, button", "#botoes" ).button();
				$( "#ferramentas" ).dialog({height:180,width:350});
			});
		</script>
                <title>{% block title %}{% end %} - Efforia</title>
        </head>
	<body>
		<div id="conteudoEsquerda">
        	<img src="efforia.png" width="90%"/>
        	<img src="profile.png" width="90%"/>
        	<h2><dl>
        	<dt> {{ user.get_full_name() }}       </dt>
        	<dt> {{ user.profile.age }} Anos      </dt>
        	<dt> {{ user.profile.points }} Pontos </dt></dl></h2>
    		<h2>Favoritos</h2>
    		{% for entry in favorites.entry %}
				<div title={{ entry.media.title.text }} class="quadro">
				<div class="quadroFlip"><img src={{ entry.media.thumbnail[0].url }} width=100% height=100%></div>
				<div class="dadosQuadro"><div class="descrQuadro"><h3><dl>
				<dt>{{ entry.media.title.text }}       </dt>
				<dt><a class="ui-button ui-widget ui-state-default ui-corner-all" href="{{ entry.GetSwfUrl() }}"><span class="ui-button-text">Tocar</span></a></dt>
				</dl></h3></div></div></div>
			{% end %}
		</div>

		<div id="conteudoCentral">
			{% block canvas %}
			<canvas id="efforia"></canvas>
			<!--<script>$(function() { $( ".ui-dialog-titlebar" ).remove(); });</script>!-->
			<div id="ferramentas">
			<div id="botoes">
				<a class="ui-button ui-widget ui-state-default ui-corner-all" href="spread" title="O que você quer espalhar hoje?"><span class="ui-button-text">Espalhe</span></a>
				<a class="ui-button ui-widget ui-state-default ui-corner-all" href="play" title="O que você quer ver hoje?"><span class="ui-button-text">Toque</span></a>
				<a class="ui-button ui-widget ui-state-default ui-corner-all" href="#" title="O que você quer comprar hoje?"><span class="ui-button-text">Compre</span></a>
				<a class="ui-button ui-widget ui-state-default ui-corner-all" href="search" title="Quem você deseja procurar hoje?"><span class="ui-button-text">Procure</span></a>
			</div>
			{% end %}
		</div>

		<div id="conteudoDireita">
		<h2>Conhecidos</h2>
		{% for k in known %}
			<div title={{ k.username }} class="quadro">
                        <div class="quadroFlip"><img alt={{ k.get_full_name() }} user={{ k.username }}></div>
                        <div class="dadosQuadro"><div class="descrQuadro"><h3><dl>
                        <dt>{{ k.get_full_name() }}	  </dt>
                        <dt>{{ k.profile.age }} Anos	  </dt>
                        <dt>{{ k.profile.points }} Pontos </dt>
                        </dl></h3></div></div></div>
                {% end %}
		</div>
	</body>
</html>
