<!DOCTYPE html>
        <head>
                <link rel="stylesheet" type="text/css" href="efforia.css">
                <link rel="shortcut icon" href="images/logo.png">
                <script type="text/javascript" src="libraries/jquery.js"></script>
                <script type="text/javascript" src="libraries/jquery-ui-black.js"></script>
                <script type="text/javascript" src="libraries/jquery.flip.js"></script>
                <script type="text/javascript" src="libraries/jquery-tubeplayer.js"></script>
                <script type="text/javascript" src="libraries/fabric.js"></script> 
                <script type="text/javascript" src="spin.js"></script>
                <script type="text/javascript" src="grid.js"></script>
                <script type="text/javascript" src="bars.js"></script>
		<script>		
			$(function() {
				$( "#dialogo" ).dialog({height:'auto',width:'auto',modal:true});
				$( "input:submit, a, button", "#botoes" ).button();
			});
		</script>
                <title>{% block title %}{% end %} - Efforia</title>
        </head>
	<body>
		<div id="conteudoEsquerda">
        	<img src="images/efforia.png" width="90%"/>
        	<img src="images/profile.png" width="90%"/>
        	<h2><dl>
        	<dt> {{ user.get_full_name() }}       </dt>
        	<dt> {{ user.profile.age }} Anos      </dt>
        	<dt> {{ user.profile.points }} Pontos </dt></dl></h2>
    		<h2>Favoritos</h2>
    		{% for entry in favorites.entry %}
				<div title={{ entry.media.title.text }} class="quadro">
				<div class="quadroFlip"><img src={{ entry.media.thumbnail[0].url }} width=100% height=100%></div>
				<div class="dadosQuadro"><div class="descrQuadro"><h3><dl>
				<dt>{{ entry.media.title.text }}       </dt>
				<dt><a class="ui-button ui-widget ui-state-default ui-corner-all" href="{{ entry.GetSwfUrl() }}"><span class="ui-button-text">Tocar</span></a></dt>
				</dl></h3></div></div></div>
			{% end %}
		</div>

		<div id="conteudoCentral">
			{% block canvas %}
			<div id="conteudoCanvas"><canvas id="efforia"></canvas></div>
			{% end %}
			<div id="ferramentas">
			<div id="botoes">
				<a class="ui-button ui-widget ui-state-default ui-corner-all" style="width:45%;" href="spread" title="O que você quer espalhar hoje?">Espalhe</a>
				<a class="ui-button ui-widget ui-state-default ui-corner-all" style="width:45%;" href="play" title="O que você quer ver hoje?">Toque</a>
				<div id="espaco"></div>
				<a class="ui-button ui-widget ui-state-default ui-corner-all" style="width:45%;" href="#" title="O que você quer comprar hoje?">Compre</a>
				<a class="ui-button ui-widget ui-state-default ui-corner-all" style="width:45%;" href="search" title="Quem você deseja procurar hoje?">Explore</a>
			</div>
			</div>
		</div>

		<div id="conteudoDireita">
		<h2>Conhecidos</h2>
		{% for k in known %}
			<div title={{ k.username }} class="quadro">
                        <div class="quadroFlip"><img alt={{ k.get_full_name() }} user={{ k.username }}></div>
                        <div class="dadosQuadro"><div class="descrQuadro"><h3><dl>
                        <dt>{{ k.get_full_name() }}	  </dt>
                        <dt>{{ k.profile.age }} Anos	  </dt>
                        <dt>{{ k.profile.points }} Pontos </dt>
                        </dl></h3></div></div></div>
                {% end %}
		</div>
	</body>
</html>
