{% extends "base.html" %}

{% block content %}
<body>
<div id="conteudoEsquerda"> 
	<img src="/static/efforia.png" width="175" height="45"/>
	<h2>Perfil</h2>
	<p>William Lagos</p>
	<p>19 anos, Usuário</p>
	<p>1200 pontos</p>
</div>
<div id="centralizado"><div id="conteudoCentral">
<form action="{% url core.views.spread %}" method="post" accept-charset="utf-8">
	{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Espalhe"/></p>
</form>
</div></div>
<div id="conteudoDireita"><h2>Seguindo</h2></div>
</body>
{% endblock %}