/* Folha de estilos do Efforia */

@font-face {
    font-family: "Ubuntu";
    src: url('../fonts/ubuntu.ttf');
}
@font-face {
    font-family: "Ubuntu";
    src: url('../fonts/ubuntu-bold.ttf');
    font-weight: bold;
}

* { font-family:"Ubuntu"; }
input, button, select, textarea { font-family:"Ubuntu"; }
body { margin:0; padding:0; color:black; background: url('../img/tile.png'); }
table { color:black; }
form { text-align:center; }
button,a,a:hover { outline:none; text-decoration:none; color:black; }
h1 { font-size: 2.2em; text-align:center; }
h2 { font-size: 1.4em; text-align:center; }
h3 { font-size: 1.0em; }
select,input,textarea { width:95%; resize:none; }
progress::-webkit-progress-bar { background: red; }
progress::-webkit-progress-value { background: white; }
progress[aria-valuenow]:before { background: white; }

/* Forca a estilizacao do input, mesmo readonly. */
input[readonly] {
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

#upload:hover { background:red; border-radius:10px; }
@media (max-width: 480px) {
  .modal-fullscreen {
    left: 0 !important;
    right: 0 !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}

.big-icon { margin: 20px; display:block; width:75%; }
.hspace { margin: 0px 1px; text-align:center; }
.btn,.btn:hover { font-family: inherit; }
.tutor { text-align:justify; color:white; }
.date { text-align:center; color:white; margin:5px; }
.divider { margin:5px; }
.content { padding:10px; text-align:justify; }
.inline { display:inline; color:white; }
.hidden { display:none; }
.centered { text-align:center; }
.justified { text-align:justify; }
.lightgreen { color:#00CB68; }
.left { margin-left:20px; }
.right { margin-right:20px; }
.selected { box-shadow: 0px 0px 20px #D30000; font-weight:bold; }
.keyword { padding:10px; text-align:center; background:#DEDEDE; color:black; border-radius:5px }
.box { background:#fff; color:black; border-radius:10px 10px 0px 0px; }
.comment { padding:10px; border-radius:10px 10px 0px 0px; margin-bottom:-10px; }
.player-height { max-height:360px; }
.btn-black,.btn-black:hover {
	margin-top:5px;
	background-color:black;
	background-image:none;
	color:white;
	text-shadow:none;
}
.menu-green,.menu-green:hover {
	background-color:#00A946;
	background-image:none;
	color:white;
	text-shadow:none;
    border-bottom: solid 2px #008724;
}
.facebook,.facebook:hover { text-align:left; background:#3C5A98; text-shadow:none; }
.twitter,.twitter:hover { text-align:left; background:#00ACED; text-shadow:none; }
.youtube,.youtube:hover { text-align:left; background:white; text-shadow:none; }
.video { padding:0px; }
.player { text-align:center; margin: -250px 0 0 -400px; width: 800px; }
.newusers { text-align:center; margin: -250px 0 0 -200px; width: 400px; }

.form-signin {
	max-width: 385px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.FixoCentral {
	position:fixed; text-align:center;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}

#Container{
	height:400px;
	padding:5px;
}

#Progresso{
	margin-top:auto;
	background:black;
}

#Grade{
	margin-top:45px;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}

#Rodape.FixoCentral{
	width:100%;
	bottom:0px;
}

#Canvas.FixoCentral {
	width:100%; top:40px; z-index:2;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}

#Navegacao { position:fixed; }

#Central{
	position:fixed;
	height:90%;
	margin-top:40px;
	margin-bottom:5%;
	width:100%; text-align:center;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}

#efforia{
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}

/* Estilizacao para o grid/mosaico do Efforia */

.block,.block-transparent,.module {
	box-shadow: 0px 0px 15px #888;
	margin-top:5px;
	margin-left:0px;
	overflow:hidden;
	text-decoration:none;
	border-radius:10px;
}
