<div id="about" style="width:80%; margin-left:10%; font-size:20px; text-align:justify;">
	<img src="images/caokzu.png" width="100%"/>
	<p>A Caokzu, mantenedora do Efforia, foi uma empresa criada em agosto de 2011, com a 
ideia de distribuir conteúdo de entretenimento digital (vídeos, músicas e jogos), sempre
ao alcance de qualquer pessoa, através de um preço acessível e de uma plataforma bastante 
interativa. Assim surgiu o Efforia. Algumas mudanças foram feitas para que a rede de 
comércio social tornasse o que é hoje.</p>

	<p>Nesta mesma época, William Oliveira de Lagos e Vicente Lehugeur Fernandes
foram selecionados para pré-incubação na Incubadora de Empresas RAIAR, da PUCRS, 
e lá começaram a desenvolver o projeto para a empresa, começando a construção efetiva
a partir de dezembro de 2011 Durante este período época apareceu Silvio Vebber, do
qual gostou do projeto e decidiu tornar-se um sócio-investidor, dando mais força
a Caokzu Entretenimento.

	<p>No início de julho de 2012 mudamos para o campus da PUCRS de Viamão, entrando
para o processo de incubação da RAIAR.</p>
<div style="text-align:center;"><a class="back ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Voltar</a></div>
</div>

<div id="terms" style="width:80%; margin-left:10%; font-size:14px; text-align:justify;">
	<h2>Termos de Uso do Efforia</h2>
<p>Estes Termos e Condições de Utilização dos Serviços (Termos) regulamentam o seu
acesso e utilização dos nossos serviços, incluindo nossos diversos sites, APIs (Serviços ou o
Efforia), que são propriedades da Caokzu Entretenimento Ltda - ME (Caokzu) ,assim como qualquer
informação, textos, gráficos, fotos ou quaisquer outros materiais que baixados ou
disponibilizados ou que sejam disponibilizados através dos Serviços (coletivamente designados
como Conteúdo). O conteúdo é acessado por você (Usuário ou Você) sobre os termos e
condições abaixo. O seu acesso e utilização dos Serviços encontram-se sujeitos à aceitação e
cumprimento destes Termos. Ao acessar ou utilizar os Serviços você aceita que se encontra
vinculado aos Termos e as Regras do Usuário.</p>

<h3>Termos e Condições Principais</h3>
<p>Você é responsável pela utilização dos Serviços, por qualquer Conteúdo que publicar
ou disponibilizar através dos nossos Serviços, assim como por quaisquer consequências destes
resultantes. Lembre-se que a maior parte do Conteúdo que você disponibilizar, publicar ou
exibir poderá ser visualizado por outros Usuários dos Serviços. Você deve apenas disponibilizar
apenas Conteúdo que esteja confortável em compartilhar com outros e esteja de acordo com
estes Termos e com as Regras do Usuário.</p>

<h3>Acesso aos Serviços</h3>
<p>A Caokzu pode mudar, suspender ou descontinuar os Serviços a qualquer momento,
incluindo a disponibilidade de qualquer sistema, base de dados ou Conteúdo. A Caokzu pode
também impor limites a certos serviços ou restringir o acesso de Usuários a parte dos nossos
serviços sem qualquer aviso prévio. A Caokzu também se reserva ao direito de poder modificar
os Termos a qualquer momento, para fazer as devidas revisões caso haja necessidade. Os
Usuários serão avisados sobre tais mudanças nos termos no site ou através de e-mail. Usuários
serão responsáveis por reler tais modificações e aceita-las para utilizar os Serviços da Caokzu.
A Caokzu fará de tudo para manter os seus serviços disponíveis 24 (vinte e quatro) horas por
dia, sete dias por semana. Entretanto, haverá ocasiões que os Serviços serão interrompidos
para manutenção, reparos ou atualizações ou devido a falhas de serviços de telecomunicação
ou de equipamentos. Todas as medidas cabíveis serão tomadas pela Caokzu para minimizar
tais problemas para Você.</p>

<h3>Transferências do Efforia</h3>
<p>Até o presente momento, Você só poderá fazer a retirada de uma causa financiada ou de créditos
do Efforia, bem como a compra do mesmo se possuir uma conta cadastrada no PayPal ou cartões Visa, 
Mastercard e American Express. Brevemente faremos mudanças para outros usuários possam também 
usufruir dessa ferramenta.</p>
<div style="text-align:center;"><a class="back ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Voltar</a></div>
</div>

<div id="copyright" style="width:80%; margin-left:10%; font-size:20px; text-align:justify;">
<p>Os direitos autorais dos conteúdos postados pelos Usuários estão sob a lei dos direitos
autorais, e fazemos de tudo para que não haja conteúdo que infrinja a lei 9610 (Lei dos
direitos Autorais) vigente no Brasil. Contamos com a ajuda de Usuários para denunciar
conteúdos que estejam descumprindo tal lei. Conteúdos cujas denuncias forem aceitas, serão
deletados.</p>
<p>Para denunciar algum Conteúdo basta enviar um e-mail para nós em contato@efforia.com.br
com os seguintes tópicos:</p>
<ul>
	<div>Nome do Conteúdo</div>
	<div>Motivo da Denúncia (No que o conteúdo viola os direitos autorais)</div>
	<div>Tipo de Conteúdo (Música, vídeo, causa ou postagem de usuário)</div>
</ul>
<div style="text-align:center;"><a class="back ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Voltar</a></div>
</div>

<div id="rules" style="width:80%; margin-left:10%; font-size:15px; text-align:justify;">
<h3>1 - Não postar Conteúdos:</h3>

<p>1.1 - Contendo Conteúdo pornográfico;</p>
<p>1.2 - Com apologia ao crime ou ao uso de drogas (lícitas ou ilícitas);</p>
<p>1.3 - Com ofensas a outros Usuários ou Conteúdo difamatório a rede ou a terceiros;</p>
<p>1.4 - Contendo vírus, trojans, spams ou malwares com intenção de danificar, interferir
ou hackear outros Usuários;</p>
<p>1.5 - Que violem ou que auxiliem na violação de direitos autorais, de proteção de
software, de proteção de patentes, marcas, modelo de utilidade ou desenhos
industriais, ou que violem leis de restrição à pirataria;</p>
<p>1.6 - Segredos industriais, de negócios ou qualquer documento/informação sigilosa;</p>

<h3>2 - Não criar contas falsas, seja de pessoas físicas ou de empresas, para beneficio próprio ou de
terceiros.</h3>

<h3>3 - Não se aproveitar de falhas ou erros relacionados à segurança ou proteção de conteúdo
nos serviços, caso você encontre algum erro, pedimos que informe a Caokzu sobre tal, para
avaliação e correção dos mesmos. Usuários serão submetidos à avaliação, para que, se for
constatada o descumprimento desta regra, haverá punições, como a proibição de entrada a
rede Efforia.</h3>

<p>Caso seja constatado o descumprimento de qualquer uma destas regras, Usuários serão:</p>

<p>1 - Avisados sobre tais regras e seu Conteúdo que infrinja tais regras será retirado;</p>
<p>2 - Terão seu Conteúdo retirado e ficarão desabilitados de postar por um tempo
determinado (dependendo da infração);</p>
<p>3 - Caso haja nova ocorrência, o Usuário será deletado do Efforia.</p>
<div style="text-align:center;"><a class="back ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Voltar</a></div>
</div>

<div id="contact" style="width:80%; margin-left:10%; font-size:25px; text-align:justify;">
<div style="text-align:center;"><img src="images/facebook.png"><img src="images/twitter.png"></div>
<p>Queremos a sua opinião! Gostou do site, quer ficar atento as novidades da empresa?
Tem alguma duvida, achou um problema? Basta nos seguir no Twitter (@caokzu), ou no 
Facebook (facebook.com/caokzu) para entrar em contato conosco. Lá postamos notícias e
novidades sobre tudo que acontece por aqui. Além destes veículos, a Caokzu também 
possui um Tumblr (caokzu.tumblr.com) onde temos tudo isso e mais vídeos que consideramos interessantes para
dividir.</p>
<div style="text-align:center;"><a class="back ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Voltar</a></div>
</div>