<div id="Container"><div id="Message"> </div><div id="Player"> </div>
	<div class="slider" style="padding: .4em 1em;"> </div>
	<div style="width:50%; float:left; margin-top:10px;">
		<a class="player pause" style="padding: .4em 1em;"><span class="ui-icon ui-icon-pause"> </span></a>
		<a class="player mute" style="padding: .4em 1em;"><span class="ui-icon ui-icon-volume-off"> </span></a>
		<a class="player replay" style="padding: .4em 1em;"><span class="ui-icon ui-icon-arrowrefresh-1-e"> </span></a>
	</div>
	<div style="width:50%; float:right; text-align:right; margin-top:10px;">
		<a class="general fan" style="padding: .4em 1em;"><span class="ui-icon ui-icon-star"> </span></a>
		<a class="general deletable" style="padding: .4em 1em;"><span class="ui-icon ui-icon-trash"> </span></a>
	</div>
</div>