<div id="who">
	<h1>O que é</h1>
	<img style="width:60%;" src="images/film.png"/>
	<div class="tutor" style="font-size:20px; margin-left:15%; width:70%; margin-top:1%; margin-bottom:1%;">
		O Efforia é a rede de comércio social trazida a você com uma experiência diferenciada e completa para quem busca o entretenimento digital, além de contar com os mais diversos produtos disponibilizados online por meio de nosso sistema de lojistas franqueados.
	</div>
	<a class="back ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Continuar</a>
</div>

<div id="what">
	<h1>O que fazemos</h1>
	<img style="width:60%;" src="images/delivery.png"/>
	<div class="tutor" style="font-size:20px; margin-left:15%; width:70%; margin-top:1%; margin-bottom:1%;">
		A rede comercializa, divulga e fomenta os seus produtos e de seus parceiros, de tal forma a entregar toda a solução de comércio eletrônico, do site completamente integrado às maiores redes do mercado ao frete facilitado e com preços bastante competitivos. Além disso tudo, promovemos o investimento coletivo nos mais diversos projetos audiovisuais.
	</div>
	<a class="back ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Continuar</a>
</div>

<div id="how">
	<h1>Como fazemos</h1>
	<img style="width:60%;" src="images/commerce.png"/>
	<div class="tutor" style="color:white; font-size:20px; margin-left:15%; width:70%; margin-top:1%; margin-bottom:1%;">
		O comércio possui um frete facilitado com até 30% de desconto em relação aos convencionais. O Efforia possui um canal com conteúdos artísticos e publicitários em parceria com o YouTube e produções independentes, atraindo uma audiência muito maior do que em qualquer outra rede de comércio social.  
	</div>
	<a class="back ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Continuar</a>
</div>

