<div id="process" style="width:80%; margin-left:10%; font-size:20px; text-align:justify;">
	<img src="images/ciclo.png" width="70%" style="margin-left:15%;"/>
	<p>Seja bem-vindo ao Efforia.</p>

	<p>Este tutorial irá ajudar você a começar a usar todos os recursos que a sua rede
de comércio social disponibiliza. Antes de qualquer coisa, é necessário explicar como 
funciona o ciclo do Efforia. É da seguinte maneira:

	<p><div style="display:inline;">No</div> <div style="display:inline; color:red;">CRIE</div>, você possui todas as 
ferramentas necessárias para que o seu projeto audiovisual possa ser reconhecido e 
investido por inúmeras pessoas, através de um modelo conhecido como <div style="display:inline; color:red;">financiamento coletivo</div>.</p>

	<p><div style="display:inline;">No</div> <div style="display:inline; color:red;">ESPALHE</div>, tudo o que quiser
comentar em postagens, divulgar eventos e expor conteúdo audiovisual poderá ser feito, e ainda com a vantagem de ser 
diretamente publicado nas principais <div style="display:inline; color:red;">redes sociais</div>.</p>

	<p><div style="display:inline;">No</div> <div style="display:inline; color:red;">TOQUE</div> é possível ver todo o
conteúdo que está rolando pelo Efforia e seus parceiros, além de ser possível criar playlists com seus vídeos favoritos
e levar eles em qualquer lugar por meio de sua coleção.
<div style="text-align:right;"><a class="creditinfo ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Continuar</a></div>
</div>

<div id="credit" style="width:80%; margin-left:10%; font-size:20px; text-align:justify;">
	<img src="images/credit.png" width="70%" style="margin-left:15%;"/>
	<p>Você deve estar se perguntando como poderá usufruir disso tudo, não?</p>

	<p><div style="display:inline;">Para comprar e vender produtos dentro da rede usamos os </div><div style="display:inline; color:red;">créditos do Efforia</div>, 
uma moeda local criada para facilitar o comércio entre os usuários, tirando diversas preocupações do comerciante, como taxas de operadoras de cartão de crédito.

	<p>Os créditos são recarregáveis pelo menu ao lado, logo abaixo do nome do usuário, por meio de uma conta PayPal. Eles não possuem
prazo de validade, para que você possa usufruir como, quando e onde quiser. Outras opções como boleto bancário, outras bandeiras de cartão e retirada de créditos 
surgirão em breve.</p>
<div style="text-align:right;"><a class="navigation ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Continuar</a></div>
</div>

<div id="navigation" style="width:80%; margin-left:10%; font-size:20px; text-align:justify;">
	<img src="images/navigation.png" width="70%" style="margin-left:15%;"/>

	<p><div style="display:inline;">O Efforia possui uma interface completamente inovadora e interativa, construída do início ao fim pensando em você. Foi assim
que surgiu a ideia de usar a </div> <div style="display:inline; color:red;">hélice</div> para a navegação, e um <div style="display:inline; color:red;">mosaico</div>
para a visualização dos mais diversos conteúdos.</p>

	<p>Para operar a hélice, basta clicar, segurar e arrastar para a direção que você quiser. Quando ela começar a girar, novos conteúdos
surgirão no mosaico. Caso não haja nenhum conteúdo novo, ela volta ao seu lugar. Simples assim. Para acessar o conteúdo, basta dar um clique na hélice.</p>

	<p>O mosaico começa vazio, e depende de você para completá-lo com postagens, conteúdos e outras coisas. Vamos começar?</p>

	<div style="text-align:right;"><a class="finish ui-button ui-widget ui-state-default ui-corner-all" style="padding: .4em 1em;" href="#">Começar</a></div>
</div>