<img style="border:3px solid white; border-radius:5px;" src="{{ user.profile.get_visual }}" width="80%"/>
<h2>
	<dl><dt> {{ user.first_name }} </dt>
	{% if birthday %} <dt> {{ birthday }} Anos </dt></dl> {% endif %}
	<div id="fan" style="display:none;">{{ user.id }};@</div>
</h2>
{% if not fan and not himself %}
	<a class="profilefan btn">Tornar-se fã</a>
{% elif himself %}
{% else %}
	<a class="unfan btn"><div class="id" style="display:none;">{{ user.id }}</div>Deixar de ser fã</a>
{% endif %}
{% if user.profile.points == 0 %} Sem pontuação. {% else %} <div class="number">{{ user.profile.points }}</div> Pontos {% endif %}</a>