{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %} {% endblock %}
{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-12 middle">
      <h1 class="centered">Vantagens que você desfruta da nossa rede de parceiros</h1>
      <h2 class="bar white" style="background: #EB4837;">Hardwares, softwares e serviços de nuvem gratuitos</h2>
      <h2 class="bar white" style="background: #5B6AB1;">Acesso fácil a eventos e oficinas da Fábrica de Ideias</h2>
      <h2 class="bar white" style="background: #66B764;">Apoio para crescimento do negócio</h2>
      <h2 class="bar white" style="background: #7B5FA7;">Espaço de coworking para desenvolver o negócio</h2>
      <h2 class="bar" style="background: #D3CC56;">Microlaboratório para desenvolver novos produtos</h2>
      <p><br><br></p>
    </div>
  </div>
</div>

{% endblock %}
