{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %} {% endblock %}
{% block main %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{% trans "The ideal space for your ideas" %}</h1>
        <p>{% trans "The Hub is a initiative of Fábrica de Ideias Coworking for catalyzing the entrepreneurial process. To be a very fruitful space to form new ideas and partnerships, startups have a very attractive environment for growth. With the equipment, support and partners that Fábrica has, we have everything to make your business take off." %}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">{% trans "Learn more" %} &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 centered">
          <h2>{% trans "Staff" %}</h2>
          <img src="{% static "svg/coworkers.svg" %}" height="200" style="margin-top: 25px; margin-bottom: 25px;"/>
          <p>{% trans "At Fábrica de Ideas, the startup is supported in various ways, are our partners, members and even the owners of the Fábrica, always present in space and extremely helpful for whatever you need." %}</p>
          <p><a class="btn btn-default" href="{% url 'pricing' %}" role="button">{% trans "View pricing" %} &raquo;</a></p>
        </div>
        <div class="col-md-4 centered">
          <h2>{% trans "Cycles" %}</h2>
          <img src="{% static "svg/colorido.svg" %}" height="200" style="margin-top: 25px; margin-bottom: 25px;"/>
          <p>{% trans "We have special events called cycles for the company to grow with us through various dynamics and lectures. There is a specific plan for company growth through partnerships and investors." %}</p>
          <p><a class="btn btn-default" href="http://lab.fabricadeideiascw.com.br/" role="button">{% trans "Visit Fábrica de Ideias Lab" %} &raquo;</a></p>
        </div>
        <div class="col-md-4 centered">
          <h2>{% trans "Partnerships" %}</h2>
          <img src="{% static "svg/like.svg" %}" height="200" style="margin-top: 25px; margin-bottom: 25px;"/>
          <p>{% trans "Fábrica de Ideias integrates various business development incentive programs, including for the Efforia Beta, for high-tech business development incentive with hardware and / or software." %}</p>
          <p><a class="btn btn-default" href="{% url 'partners' %}" role="button">{% trans "View our partners" %} &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; {% trans "Fábrica de Ideias Coworking" %} 2015</p>
      </footer>
      </div> <!-- /container -->
{% endblock %}
