.span5
        form#defaultform(action='products', method='post')
                label.span2 Nome do produto
                input#id_name.span3(name='name', maxlength='150', type='text', placeholder='Que nome o seu produto terá?')
                label.span2 Categoria
                input#id_category.span3(name='category', type='text', placeholder='Em qual categoria que ele se encaixa?')
                label.span2 Valor em créditos
                input#id_credit.span3(name='credit', type='text', placeholder='Quanto que ele valerá?')
                label.span2 Ilustração
                input#id_visual.span3(name='visual', maxlength='40', type='text')
                textarea#id_description.span5(rows='3', cols='60', name='description') Descreva aqui, de uma forma breve, o produto que você irá adicionar ao Efforia.
.tutor.span5
        | Nesta parte é possível fazer a criação de novos produtos, com suas descrições e ilustrações, pronto para divulgação dentro e fora da rede Efforia.
